


.conatiner__update_requisition .row__one {
	display: flex;
	justify-content: center;
}


.conatiner__update_requisition .row__two {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr)) ;
	gap: 10px;
}

.conatiner__update_requisition .row__three {

}


.conatiner__update_requisition .row__five {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}