.conatiner__create_orders > .row__one {
    width: 50%;
    margin: 0 auto;
}

.conatiner__create_orders > .row__two {
    display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 10px;
    row-gap: 20px;
    text-align: justify;
}


.conatiner__create_orders > .row__three {
    margin: 20px 0;
}

.conatiner__create_orders > .conatiner__by-request > .row__one {
    display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 10px;
    row-gap: 20px;
    text-align: justify;
} 





.table__modal_create_orders {
    border-radius: 10px;

    
}

.table__modal_create_orders .table__head {
    display: flex;
    width: 100%;
    background-color: var( --table-color);
    border-radius: 5px 5px 0 0;
    
}

.table__modal_create_orders .table__head .thead {
   display: flex;
   width: 100%;
}

.table__modal_create_orders .table__head .thead {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 50px 100px;
    padding: 10px;
    gap: 10px;
    font-weight: 600;
    color: var(--text-table-color);
	
}

.table__modal_create_orders .table__body {
	max-height: 300px;
    overflow: hidden;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #bf6903; 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}




.table__modal_create_orders .tbody__container:nth-child(even) {
    background-color: var(--table-color);
}
  
.table__modal_create_orders .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
}

.table__modal_create_orders .table__body .tbody .td {
    color: var(--text-color);
}

.table__modal_create_orders .table__body .tbody {
    display: flex;
}

.table__modal_create_orders .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 50px 100px;
    padding: 10px;
    gap: 10px;
    align-items: center;

}





 /*************************************************************
                    Modal de stock
 **************************************************************/

  
 .overlay__modal_stock_orders {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
	z-index: 1;
}

.overlay__modal_stock_orders.active {
	visibility: visible;
}

.popup__modal_stock_orders {
	background-color: var(--background-modal);
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	width: 70%;
	overflow-y: auto;
    max-height: 95%;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}

.popup__modal_stock_orders .btn-cerrar-popup__modal_stock_orders {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 15px;
    top: 15px;
}



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__modal_stock_orders.active {	transform: scale(1); opacity: 1; }


