

 /*************************************************************
 
                    Tabla de almacen
 
 **************************************************************/



 .table__modal_store {
	display: grid;
    height: 100%;
    grid-template-rows: repeat(2, auto) 1fr;
	overflow: auto;
}


.table__modal_store .table__head {
    display: flex;
    width: 100%;
    background-color: var( --table-color);
    border-radius: 5px 5px 0 0;
}

.table__modal_store  .table__head .thead {
   display: flex;
   width: 100%;
}

.table__modal_store  .table__head .thead {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 100px;
    padding: 10px;
    font-weight: 600;
	color: var(--text-table-color);
}


.container__branchOffice_table-modal .tbody {
    text-align: left;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
    

.container__branchOffice_table-modal .tbody:nth-child(even) {
    text-align: left;
	background-color: var(--table-color);
    color: var(--text-table-color);
  }
  
.container__branchOffice_table-modal .tbody:nth-child(odd) {
	background-color: var(--two-table-color);
    color: var(--text-table-color);
  }

.btn__delete {
    background-color: #da4f3c;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
