

.conatiner__create_warehouse-exit > .row__one {
    width: max-content;
    margin: 0 auto;
}

.checkbox__tickets {
	display: flex;
	justify-content: center;
  	padding: 20px;
}

.conatiner__create_warehouse-exit > .row__two {
    display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 10px;
    row-gap: 20px;
    text-align: left;
}

.conatiner__create_warehouse-exit > .row__two > .comments {
    grid-column: 1 / span 3;
}


.table__direct_warehouse-exit {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(2, auto) 1fr;
    text-align: left;
}


.table__direct_warehouse-exit .table__head {
    display: flex;
    width: 100%;
    background-color: var( --table-color);
    border-radius: 5px 5px 0 0;
    text-align: left;
}

.table__direct_warehouse-exit .table__head .thead {
   width: 100%;
   
}

.table__direct_warehouse-exit .table__head .thead {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr)) 60px;
    padding: 10px;
    font-weight: 600;
    color: var(--text-table-color);
}

.table__direct_warehouse-exit .table__body {
	height: 100%;
    overflow: hidden;
    overflow: auto;
    transition-delay: 0.0s;
    max-height: 300px;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}


.table__direct_warehouse-exit .tbody__container:nth-child(even) {
    background-color: var(--table-color);
  }
  
.table__direct_warehouse-exit .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
  }

.table__direct_warehouse-exit .table__body .tbody {
    display: flex;
}

.table__direct_warehouse-exit .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr)) auto;
    padding: 10px;
    align-items: center;
    column-gap: 15px;
    text-align: left;
}

.table__direct_warehouse-exit .table__body .tbody .td {
    color: var(--text-color);
}

.table__direct_warehouse-exit .table__body .tbody .td > .inputs__general {
    margin: 0;
}

.table__direct_warehouse-exit .table__body .tbody .td > .traditional__selector {
    margin: 0;
}



.table__direct_warehouse-exit .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}



























 /*************************************************************
                    Modal de actualizar entradas
 **************************************************************/

  
 .overlay__modal-concepts_see-stock {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
	z-index: 1;
}

.overlay__modal-concepts_see-stock.active {
	visibility: visible;
}

.popup__modal-concepts_see-stock {
	background-color: var(--background-modal);
	border-radius: 5px;
	padding: 20px;
	width: 60%;
    max-height: 95%;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1F319D; 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}

.popup__modal-concepts_see-stock  .btn-cerrar-popup__modal-concepts_see-stock  {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 15px;
    top: 15px;
}



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__modal-concepts_see-stock.active {	transform: scale(1); opacity: 1; }





 /*************************************************************
        Tabla de stock del modal de los conceptos
 **************************************************************/

 .table__modal-concepts_see-stock {
    border-radius: 10px;
    display: grid;
    height: 100%;
    grid-template-rows: repeat(2, auto) 1fr;

}

.table__modal-concepts_see-stock > .store-warning {
    padding: 10px;
    width: max-content;
    margin: 0 auto;
    display: flex;
    margin-bottom: 15px;
    border-radius: 5px;
    color: var(--text-color);
    background-color: #bf6903;
}

.table__modal-concepts_see-stock .store-warning > svg {
    margin-right: 10px;
}



.table__modal-concepts_see-stock .table__head {
    display: flex;
    width: 100%;
    background-color: var(--table-color);
	color: var(--text-table-color);
    border-radius: 5px 5px 0 0;
    text-align: left !important;
    
}

.table__modal-concepts_see-stock .table__head .thead {
   display: flex;
   width: 100%;
}

.table__modal-concepts_see-stock .table__head .thead {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 10px;
    font-weight: 600;
}

.table__modal-concepts_see-stock .table__body {
	height: 100%;
    overflow-y: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1F319D; 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}


.table__modal-concepts_see-stock .tbody__container:nth-child(even) {
    background-color: var(--table-color);
	color: var(--text-table-color);
  }
  
.table__modal-concepts_see-stock .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
	color: var(--text-table-color);
  }

.table__modal-concepts_see-stock .table__body .tbody {
    display: flex;
}


.table__modal-concepts_see-stock .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}


.table__modal-concepts_see-stock .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 10px;

}


.table__modal-concepts_see-stock .table__body .tbody > .end {
    text-align: center;

}











 /*************************************************************
                    Tabla de Entradas
 **************************************************************/

 .table__departures {
    border-radius: 10px;
    display: grid;
    height: 100%;
    grid-template-rows: repeat(2, auto) 1fr;

}


.table__departures .table__head {
    display: flex;
    width: 100%;
    background-color: var(--table-color);
	color: var(--text-table-color);
    border-radius: 5px 5px 0 0;
}

.table__departures .table__head .thead {
   display: flex;
   width: 100%;
}

.table__departures .table__head .thead {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
    font-weight: 600;
}

.table__departures .table__body {
	height: 100%;
    overflow-y: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1F319D; 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}


.table__departures .tbody__container:nth-child(even) {
    background-color: var(--table-color);
	color: var(--text-table-color);
  }
  
.table__departures .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
	color: var(--text-table-color);
  }

.table__departures .table__body .tbody {
    display: flex;
}


.table__departures .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}


.table__departures .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;

}


.table__departures .table__body .tbody > .end {
    text-align: center;

}