.conatiner__update_parchase-orders {

}



.conatiner__update_parchase-orders > .row__check {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}


.conatiner__update_parchase-orders > .row__one_update {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)) 150px 150px 150px;
    gap: 10px;
    align-items: end;
    margin: 20px 0;
    text-align: justify;
}

.conatiner__update_parchase-orders > .row__one_two {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)) 150px 200px 200px;
    gap: 10px;
    align-items: end;
    margin: 20px 0;
    text-align: justify;
}


.conatiner__update_parchase-orders > .row__two {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 100px auto 1fr;
    gap: 10px;
    align-items: end;
    margin: 20px 0;
    text-align: justify;
}

.conatiner__update_parchase-orders > .row__four {
    text-align: justify;
    overflow-y: auto;
    height: auto;
}



.conatiner__update_parchase-orders > .title {
    padding: 10px 0;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: #252a36;
    border-radius: 5px;
    color: #f3f3f3;
    margin: 20px 0;
}


.conatiner__by-request .row__four {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 100px;
    gap: 10px;
    align-items: end;
    margin: 20px 0;
    text-align: justify;
}










.table__modal_update_parchase-orders {

    border-radius: 10px;
    grid-column: 1 / span 2;
    
}

.table__modal_update_parchase-orders .table__head {
    display: flex;
    width: 100%;
    background-color: var( --table-color);
    border-radius: 5px 5px 0 0;
    
}

.table__modal_update_parchase-orders .table__head .thead {
   display: flex;
   width: 100%;
}

.table__modal_update_parchase-orders .table__head .thead {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 10px;
    gap: 10px;
    font-weight: 600;
    color: var(--text-table-color);
	
}

.table__modal_update_parchase-orders .table__body {
	max-height: 300px;
    overflow: hidden;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #bf6903; 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}




.table__modal_update_parchase-orders .tbody__container:nth-child(even) {
    background-color: var(--table-color);
}
  
.table__modal_update_parchase-orders .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
}

  .table__modal_update_parchase-orders .table__body .tbody .td {
    color: var(--text-color);
}

.table__modal_update_parchase-orders .table__body .tbody {
    display: flex;
}

.table__modal_update_parchase-orders .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 10px;
    gap: 10px;
    align-items: center;

}