.articles {
    display: grid;
	height: 90vh;
    padding: 20px;
    
}

.container__articles {
    padding: 15px;
    border-radius: 10px;
	display: grid;
    height: 100%;
    grid-template-rows: repeat(3, auto) 1fr auto;
    overflow: hidden;
    background-color: var(--background-sections);
}

.container__articles .row__one {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 10px;
}

.container__checkbox_articles {
	display: flex;
	align-items: center;
}

.container__checkbox_articles .checkbox__articles {
	display: flex;
	justify-content: center;
  	padding: 0 10px;
    margin: 0 20px;
}

.container__articles .row__two {
	display: flex;
	justify-content: center;
}

.container__articles > .row__three {
	display: flex;
	align-items: center;
	justify-content: center;
}
.container__articles > .row__three > .create__articles_btn-container {
	display: flex;
	justify-content: center;
}






.conatiner__create_articles {
   text-align: left;
   
}


.row__form_articles-radios {
	display: flex;
	justify-content: center;
}

.container__form_articles-radios {
	display: flex;
}

.checkbox__modal_articles {
	display: flex;
	justify-content: center;
  	padding: 20px;
  }


.row__form_articles-one {
	display: grid;
    grid-template-columns: repeat(3, 1fr) 200px 200px 100px;
    gap: 10px;
	align-items: end;
}

.row__form_articles-two {
	display: grid;
	margin: 20px 0;
    grid-template-columns: 200px repeat(5, 1fr);
    gap: 10px;
	align-items: end;
}

.row__form_articles-three {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
	align-items: end;
}

.row__form_articles-four {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
	margin: 20px 0;
    gap: 10px;
	align-items: end;
}

.row__form_articles-five {
	display: grid;
    grid-template-columns: repeat(4, 1fr);
	margin: 20px 0;
    gap: 10px;
	align-items: end;
}

.row__form_articles-six {
	display: grid;
    grid-template-columns: repeat(8, 1fr);
	margin: 20px 0;
    gap: 10px;
	align-items: end;
}





.article__modal_save_modal_container {
	display: block;
}

.article__modal_save_modal_container .row__one {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
	margin: 20px 0;
    gap: 10px;
	align-items: end;
}

.article__modal_save_modal_container .row__two {
	display: grid;
    grid-template-columns: 1fr repeat(2, 100px);
	margin: 20px 0;
    gap: 10px;
	align-items: end;
}






.table__articles {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(3, auto) 1fr;
    overflow: auto;
}


.table__articles .table__head {
    display: flex;
    width: 100%;
	background-color: var( --table-color);
    border-radius: 5px 5px 0 0;
}

.table__articles .table__head .thead {
   display: flex;
   width: 100%;
}

.table__articles .table__head .thead {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 100px;
    padding: 10px;
    font-weight: 600;
	color: var(--text-table-color);
}

.table__articles .table__body {
	height: 100%;
	overflow-y: scroll;
    overflow: hidden;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}


.table__articles .tbody__container:nth-child(even) {
    background-color: var(--table-color);
  }
  
.table__articles .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
  }

.table__articles .table__body .tbody {
    display: flex;
}

.table__articles .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 100px;
    padding: 10px;
}

.table__articles .table__body .tbody .td {
    color: var(--text-color);
}


.table__articles .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}




































.article__modal_save_modal_container .table__branchOffices {
    margin-top: 20px;
    border-radius: 10px;
}


.article__modal_save_modal_container .table__branchOffices .table__head {
    display: flex;
    width: 100%;
    background-color: var( --table-color);
    border-radius: 5px 5px 0 0;
}

.article__modal_save_modal_container .table__branchOfficess .table__head .thead {
   display: flex;
   width: 100%;
}

.article__modal_save_modal_container .table__branchOffices .table__head .thead {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 100px 100px;
    padding: 10px;
    font-weight: 600;
    color: var(--text-table-color);
}

.article__modal_save_modal_container .table__branchOffices .table__body {
	height: 200px;
    overflow: hidden;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1F319D; 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}


.article__modal_save_modal_container .table__branchOffices .tbody__container:nth-child(even) {
    background-color: var(--table-color);
  }
  
  .article__modal_save_modal_container .table__branchOffices .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
  }

  .article__modal_save_modal_container .table__branchOffices .table__body .tbody {
    display: flex;
} 

.article__modal_save_modal_container .table__branchOffices .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 100px 100px;
    padding: 10px;
}

.article__modal_save_modal_container .table__branchOffices .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}

.article__modal_save_modal_container .area__edit_btn {
	background-color: var(--primary-color);
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: var(--border-radius-general);
	cursor: pointer;
  }

  .loading_modal {
    display: block;
  }

  .text_article_loading {
    padding: 10px;
  }

