.families {
    height: 90vh;
	padding: 20px;
}

.families__container {
    display: grid;
	grid-template-rows: auto 1fr;
	height: 100%;
	background-color: var(--background-sections);
	padding: 20px ;
	border-radius: 10px;
    overflow: scroll;
}

.create__families_btn-container {
	display: flex;
	justify-content: center;
    align-items: center;
}

.conatiner__create_families {
    display: block;
    gap: 10px;
	align-items: end;
	text-align: left;
   
}

.add__companyin_familiess {
    display: grid;
    grid-template-columns: repeat(2, 1fr) auto;
    column-gap: 20px;
    align-items: end;
}

.container__add_companyin_families {
    display: flex;
    justify-content: end;
}

.branchoffice__edit_btn {
	background-color: var(--primary-color);
	color: #fff;
	border: none;
	padding: 8px 10px;
	border-radius: var(--border-radius-general);
	cursor: pointer;
}


.container__btns_branch-office {
    grid-column: 1 / span 2;
	text-align: center;
}

.check_view label {
    display: block;
}




 /*************************************************************
                    Modal de crear sucursales
 **************************************************************/


  
 .overlay__families {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay__families.active {
	visibility: visible;
}

.popup__families {
	background-color: var(--background-modal);
	border-radius: 5px;
	padding: 20px;
	width: 50%;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
    overflow: scroll;
}

.popup__families .btn-cerrar-popup__families {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 15px;
    top: 15px;
}



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__families.active {	transform: scale(1); opacity: 1; }





.table__families {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(3, auto) 1fr;
}


.table__families .table__head {
    display: flex;
    width: 100%;
    background-color: var( --table-color);
    border-radius: 5px 5px 0 0;
}

.table__families .table__head .thead {
   display: flex;
   width: 100%;
}

.table__families .table__head .thead {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 100px;
    padding: 10px;
    font-weight: 600;
    color: var(--text-table-color);
}

.table__families .table__body {
	height: 100%;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}


.table__families .tbody__container:nth-child(even) {
    background-color: var(--table-color);
  }
  
.table__families .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
  }

.table__families .table__body .tbody {
    display: flex;
}

.table__families .table__body .tbody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 100px;
    padding: 10px;
}

.table__families .table__body .tbody .td {
    color: var(--text-color);
}


.table__families .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}



  
 /*************************************************************
                    Modal de actualizar sucursales
 **************************************************************/

.overlay__update_families {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay__update_families.active {
	visibility: visible;
}

.popup__update_families {
	background-color: var(--background-modal);
	border-radius: 5px;
	padding: 20px;
	width: 60%;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup__update_families .btn-cerrar-popup__update_families {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 15px;
    top: 15px;
}



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__update_families.active {	transform: scale(1); opacity: 1; }



/* ------------------------- */
/* Tabla del Modal */
/* ------------------------- */


.table__update_families {
    margin-top: 20px;
    border-radius: 10px;
    grid-column: 1 / span 2;

}


.table__update_families .table__head {
    display: flex;
    width: 100%;
    background-color: var( --table-color);
    border-radius: 5px 5px 0 0;
}

.table__update_families .table__head .thead {
   display: flex;
   width: 100%;
}

.table__update_families .table__head .thead {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 100px;
    padding: 10px;
    font-weight: 600;
    color: var(--text-table-color);
}

.table__update_families .table__body {
	max-height: 300px;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}


.table__update_families .tbody__container:nth-child(even) {
    background-color: var(--table-color);
  }
  
.table__update_families .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
}

  .table__update_families .table__body .tbody {
    display: flex;
}

.table__update_families .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 100px;
    padding: 10px;
}

.table__update_families .table__body .tbody .td {
    color: var(--text-color);
}

.table__update_families .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}

/* .container__add_families {
    border: 2px solid var(--orange-color);
    padding: 20px 10px;
    margin: 20px 0;
    border-radius: 5px;
} */


.container__add_families {

    margin: 20px 0;
    border-radius: 5px;
}

.title__add_families {
    display: flex;
    margin-bottom: 15px;
    

}

.title__add_families p {
    color: var(--text-white);
    padding: 5px;
    background-color: var(--orange-color);
    border-radius: 3px;

}

.container__add_families .add_families {
    display: grid;
    grid-template-columns: repeat(2, 1fr) auto;
    column-gap: 20px;
}