.families {
    display: grid;
    padding: 20px;
}

.create__families_btn-container {
	display: flex;
	justify-content: center;
}

.conatiner__create_families {
    display: block;
    
    gap: 10px;
	align-items: end;
	text-align: left;
   
}

.container__inputs_templates {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
	align-items: end;
	text-align: left;
}

.container__templates__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
	align-items: end;
	text-align: left;
}


.container__add_companyin_families {
    display: flex;
    justify-content: end;
}

.branchoffice__edit_btn {
	background-color: var(--primary-color);
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: var(--border-radius-general);
	cursor: pointer;
}


.container__btns_branch-office {
    grid-column: 1 / span 2;
	text-align: center;
}

.add__components_templates {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
	align-items: end;
	text-align: left;
}

.add__types {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
	align-items: end;
	text-align: left;
}




 /*************************************************************
                    Modal de crear sucursales
 **************************************************************/

/* 
  
 .overlay__suppliers {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay__suppliers.active {
	visibility: visible;
}

.popup__suppliers {
	background: #F8F8F8;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	width: 75%;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup__suppliers .btn-cerrar-popup__suppliers {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 15px;
    top: 15px;
}



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__suppliers.active {	transform: scale(1); opacity: 1; }

 */







.table__branch-offices {
    margin-top: 20px;
    border-radius: 10px;
}


.table__branch-offices .table__head {
    display: flex;
    width: 100%;
    background-color: #eeecec;
    border-radius: 5px 5px 0 0;
}

.table__branch-offices .table__head .thead {
   display: flex;
   width: 100%;
}

.table__branch-offices .table__head .thead {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 100px;
    padding: 10px;
    font-weight: 600;
}

.table__branch-offices .table__body {
	height: 600px;
    overflow: hidden;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1F319D; 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}


.table__branch-offices .tbody__container:nth-child(even) {
    background-color: #eeecec;
  }
  
  .table__branch-offices .tbody__container:nth-child(odd) {
    background-color: #f9f8f8;
  }

  .table__branch-offices .table__body .tbody {
    display: flex;
}

.table__branch-offices .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 100px;
    padding: 10px;
}

.table__branch-offices .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}

.types-users__edit_btn {
	background-color: var(--primary-color);
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: var(--border-radius-general);
	cursor: pointer;
  }


  
 /*************************************************************
                    Modal de actualizar sucursales
 **************************************************************/

.overlay__update_branch-offices {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay__update_branch-offices.active {
	visibility: visible;
}

.popup__update_branch-offices {
	background: #F8F8F8;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	width: 80%;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup__update_branch-offices .btn-cerrar-popup__update_branch-offices {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 15px;
    top: 15px;
}



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__update_branch-offices.active {	transform: scale(1); opacity: 1; }



/* ------------------------- */
/* Tabla del Modal */
/* ------------------------- */


.table__templates {
    margin-top: 20px;
    border-radius: 10px;
    grid-column: 1 / span 2;

}


.table__templates .table__head {
    display: flex;
    width: 100%;
    background-color: #eeecec;
    border-radius: 5px 5px 0 0;
}

.table__templates .table__head .thead {
   display: flex;
   width: 100%;
}

.table__templates .table__head .thead {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 100px;
    padding: 10px;
    font-weight: 600;
}

.table__templates .table__body {
	max-height: 300px;
    overflow: hidden;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1F319D; 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}


.table__templates .tbody__container:nth-child(even) {
    background-color: #eeecec;
  }
  
  .table__templates .tbody__container:nth-child(odd) {
    background-color: #f9f8f8;
  }

  .table__templates .table__body .tbody {
    display: flex;
}

.table__templates .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 100px;
    padding: 10px;
}

.table__templates .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}