.units {
    height: 90vh;
	padding: 20px;
}

.units__container {
    display: grid;
	grid-template-rows: auto 1fr;
	height: 100%;
	background-color: var(--background-sections);
	padding: 20px ;
	border-radius: 10px;
    overflow: hidden;
}


.btns__create_units {
    display: flex;
    justify-content: center;
}

.conatiner__create_units {
    text-align: left;
}

.conatiner__create_units > .row__one {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.create__units_btn_modal {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.units__add_code_sat {
    padding: 20px 10px;
    border-radius: 10px;
    margin-top: 20px;
    border: 2px solid var(--orange-color);
}

.title__key-unit {
    display: flex;
    margin-bottom: 20px;
}


.title__key-unit > p {
    padding: 5px;
    background-color: var(--orange-color);
    color: #fff;
    border-radius: 3px;
}


 /*************************************************************
                    Modal de crear sucursales
 **************************************************************/


  
 .overlay__units {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay__units.active {
	visibility: visible;
}

.popup__units {
	background-color: var(--background-modal);
	border-radius: 5px;
	padding: 20px;
	width: 70%;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup__units .btn-cerrar-popup__units {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 15px;
    top: 15px;
}



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__units.active {	transform: scale(1); opacity: 1; }




 /*************************************************************
                    Modal de updates sucursales
 **************************************************************/


  
 .overlay__update_units {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay__update_units.active {
	visibility: visible;
}

.popup__update_units {
	background-color: var(--background-modal);
	border-radius: 5px;
	padding: 20px;
	width: 70%;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup__update_units .btn-cerrar-popup__update_units {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 15px;
    top: 15px;
}



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__update_units.active {	transform: scale(1); opacity: 1; }

.conatiner__update_units {
    text-align: left;
}

.conatiner__update_units > .row__one {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}








.table__units {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(2, auto) 1fr;
	overflow: auto;
}


.table__units .table__head {
    display: flex;
    width: 100%;
    background-color: var( --table-color);
    border-radius: 5px 5px 0 0;
}

.table__units .table__head .thead {
   display: flex;
   width: 100%;
}

.table__units .table__head .thead {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 100px;
    padding: 10px;
    font-weight: 600;
    color: var(--text-table-color);
}

.table__units .table__body {
	height: 100%;
    overflow: hidden;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}


.table__units .tbody__container:nth-child(even) {
    background-color: var(--table-color);
  }
  
.table__units .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
  }

.table__units .table__body .tbody {
    display: flex;
}

.table__units .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 100px;
    padding: 10px;
}

.table__units .table__body .tbody .td {
    color: var(--text-color);
}


.table__units .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}


