.conatiner__create_modal_ranger {

}

.conatiner__create_modal_ranger > .row__one {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 10px;
}




 /*************************************************************
                    Modal de rangos
 **************************************************************/
  
 .overlay__create_modal_ranges {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay__create_modal_ranges.active {
	visibility: visible;
}

.popup__create_modal_ranges {
	background-color: var(--background-modal);
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	width: 70%;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup__create_modal_ranges .btn-cerrar-popup__create_modal_ranges {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 15px;
    top: 15px;
}



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__create_modal_ranges.active {	transform: scale(1); opacity: 1; }
