
.loginForm {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
  }
  
  .left {
    width: 50%;
    height: 100%;
    background-color: rgb(12,36,60);
  }

.left > .left__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}




.left > .left__container > .container__titles{
  color: #f4f4f4;
}

.left > .left__container > .container__titles > .title__main{
  font-size: 2rem;
}


.left > .left__container > .container__titles > .left_text {
  font-size: 1rem;
  margin-top: 15px;
}





























  
  .rigth {
    width: 50%;
    height: 100%;
  
  }

  .title__form {
    display: flex;
    justify-content: center;
  }

  .container__titles {
    width: 80%;
    max-width: 800px;
  }

  .title__login {
    font-size: 1.8rem;
  }
  
  .title__procura {
    width: 100%;
    margin: 10px 0;
    font-weight: 500;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
  }

  .title__form .title__text {
    color: var(--text-color-ligth);
    font-weight: 500;
    margin-top: 10px;
  }

  .title__procura  .welcome {
    margin-right: 10px;
    font-size: 28px;
    color: rgb(12,36,60);
  }
  
  
  .title__procura .hisoft {
    transition: all 0.8s ease;

    padding: 10px;
    border-radius: 5px;
  }
  

  .title__procura .hi {
    color: #fff;
    background-color: rgb(12,36,60);
    padding: 2px 5px;
    border-radius: 3px;

  }
  .title__procura .soft {
    color: #3D85C6;
    padding: 0 2px;
    outline: 2px solid #3D85C6;
    border-radius: 3px;
    margin: 0 5px;

  }
  .title__procura .ft {
    color: #3D85C6;


  }
  .title__procura .business {
    color: #3D85C6;
    margin-left: 10px;

  }
  

  .form {
    display: flex;
    max-width: 500px;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .container__form {
    display: block;
    width: 80%;
   
  }
  
  .label__form {
    display: flex;
    padding: 10px 0;
  }
  
  .inputs__form {
    display: block;
   
  }
  
  .container__inputs {
    display: flex;
    padding: 5px 10px;
    outline: 1px solid #afafaf;
    align-items: center;
    border-radius: 5px;
    transition: border 0.8s ease;
    
  }
  
  .container__inputs:hover {
    outline: 2px solid rgb(12,36,60)  !important;
   
  }
  
  .container__inputs .svg {
    margin-right: 5px;
    fill: #afafaf;
    transition: fill 0.8s ease;
  }
  
  
  .container__inputs.focused {
    outline: 2px solid rgb(12,36,60);
  }
  
  .container__inputs.focused svg {
    fill: rgb(12,36,60);
  }
  
  .error__message {
    color: red;
    display: none;
  }
  
  
  
  
  
  
  
  
  
  
  
  .label__form {
    color: #1f1c17;
  }
  
  .input__form {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    padding: 5px 0;
    text-indent: 10px;
  
  }
  
  
  
  
  .toggle-password-btn {
    display: flex;
    outline: none;
    border: none;
    background-color: transparent;
  }
  
  .toggle-password-btn .see__password {
    fill: rgb(12,36,60);
  }
  
  .container__inputs:hover svg {
    fill: rgb(12,36,60);
  }
  
  .btn__form-login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  }
  
  .btn__login {
    background-color: rgb(12,36,60);
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  
  @media screen and (max-width: 768px) {
    

    .left {
      display: none;
    }
    
    .rigth {
      width: 100%;
      height: 100%;
    
    }

  }