
.conatiner__create_tickets-main > .row__one {
    padding: 20px;
	background-color: var(--cards-background);
	border-radius: var(--general-card-border);
}




 /*************************************************************
                    Modal de crear entradas
 **************************************************************/

  
 .overlay__tickets {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
	z-index: 1;
}

.overlay__tickets.active {
	visibility: visible;
}

.popup__tickets {
    display: grid;
    grid-template-rows: auto 1fr;
	background-color: var(--background-modal);
	border-radius: 5px;
	width: 95vw;
    max-height: 95%;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
    overflow: hidden;
  
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1F319D; 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}

.popup__tickets .btn-cerrar-popup__tickets {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 15px;
    top: 15px;
}



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__tickets.active {	transform: scale(1); opacity: 1; }

.conatiner__create_tickets {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    overflow: hidden;
    padding: 20px;
}

.conatiner__create_tickets-main {
    padding: 10px;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}


.conatiner__create_tickets > .row__one {
    width: 50%;
    margin: 0 auto;
}

.container__checkbox_tickets {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.checkbox__tickets {
	display: flex;
	justify-content: center;
  	padding: 20px;
}

.conatiner__create_tickets > .row__two {
    display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 10px;
    row-gap: 20px;
    text-align: justify;
}



.conatiner__create_tickets > .conatiner__direct {
    margin: 20px 0;
}

.conatiner__create_tickets > .conatiner__direct > .row__one  {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)) 100px;
	gap: 10px;
    align-items: end;
    text-align: justify;
}

.conatiner__create_tickets > .conatiner__direct > .row__two  {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin: 20px 0;
}


.conatiner__create_tickets > .conatiner__by-request > .row__one  {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 10px;
    align-items: end;
    text-align: justify;
    margin: 20px 0;
}



.conatiner__create_tickets > .row__three {
    display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 10px;
    row-gap: 20px;
    text-align: justify;
    margin: 20px 0;
}

.conatiner__create_tickets > .row__three >  div {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    color: var(--text-color);
    font-weight: 600; 
    
}

.conatiner__create_tickets > .row__three > .subtotal {
    width: auto;
    color: var(--text-color);
    /* background-color: #d6ad5c; */
    border: 2px solid #d6ad5c;
}

.conatiner__create_tickets > .row__three > .discount {
    width: auto;
    color: var(--text-color);
    /* background-color: #d45a8e; */
    border: 2px solid #d45a8e;   
}

.conatiner__create_tickets > .row__three > .iva {
    width: auto;
    color: var(--text-color);
    /* background-color: #5d6bdb; */
    border: 2px solid #5d6bdb;
    
}

.conatiner__create_tickets > .row__three > .total {
    width: auto;
    color: var(--text-color);
    /* background-color: #5cadd6; */
    border: 2px solid #5cadd6;   
}




.conatiner__create_tickets > .row__three >  div > .title {
    /* background-color: var(--orange-color);
    padding: 10px;
    border-radius: 10px; */
    margin-right: 10px;
}





.table__modal_create_tickets {
    border-radius: 10px;
}

.table__modal_create_tickets .empty {
    display: flex;
    padding: 10px;
}


.table__modal_create_tickets .empty > svg {
    margin-left: 10px;
}

.table__modal_create_tickets .table {
    border-radius: 20px;
    border: 2px solid var(--border-table-color);
}

.table__modal_create_tickets .table__head {
    display: flex;
    width: 100%;
    background-color: var( --table-color);
    border-radius: 20px 20px 0 0;
}

.table__modal_create_tickets .table__head .thead {
   display: flex;
   width: 100%;
}

.table__modal_create_tickets .table__head .thead {
    display: grid;
    grid-template-columns: 3fr repeat(6, minmax(0, 1fr)) 50px;
    padding: 10px;
    column-gap: 20px;
    font-weight: 600;
    color: var(--text-table-color);
    text-align: left;
}

.table__modal_create_tickets .table__body {
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #bf6903; 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}


.table__modal_create_tickets .tbody__container {
	border-top: 2px solid var(--border-table-color);
}

.table__modal_create_tickets .tbody__container:nth-child(even) {
	background-color: var(--table-color);
}

.table__modal_create_tickets .tbody__container:nth-child(odd) {
	background-color: var(--two-table-color);
}

.table__modal_create_tickets .tbody__container:first-child {
	border-top: 2px solid var(--border-table-color);
}

.table__modal_create_tickets .tbody__container:last-child {
	border-bottom: none;
	border-radius: 0 0 20px 20px;
}



.table__modal_create_tickets .table__body .tbody {
    display: grid;
    grid-template-columns: 2fr repeat(6, minmax(0, 1fr)) 50px;
    padding: 10px;
    column-gap: 20px;
    align-items: end;

}

.table__modal_create_tickets .table__body .tbody .td {
    display: flex;
}

.table__modal_create_tickets .table__body .tbody .td .inputs__general, .traditional__selector {
    background-color: var(--cards-background);
    width: 100%;
}

.table__modal_create_tickets .table__body .tbody .td.delete {
    display: flex;
    justify-content: end;
    align-items: center;
}



.table__modal_filter_tickets {
    border-radius: 10px;
    display: grid;
    height: 100%;
    grid-template-rows: repeat(2, auto) 1fr;

}


.table__modal_filter_tickets .table__head {
    display: flex;
    width: 100%;
    background-color: var(--table-color);
	color: var(--text-table-color);
    border-radius: 5px 5px 0 0;
}

.table__modal_filter_tickets .table__head .thead {
   display: flex;
   width: 100%;
}

.table__modal_filter_tickets .table__head .thead {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 10px;
    font-weight: 600;
}

.table__modal_filter_tickets .table__body {
	/* height: 100%; */
    /* overflow-y: auto; */
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1F319D; 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}


.table__modal_filter_tickets .tbody__container:nth-child(even) {
    background-color: var(--table-color);
	color: var(--text-table-color);
  }
  
.table__modal_filter_tickets .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
	color: var(--text-table-color);
  }

.table__modal_filter_tickets .table__body .tbody {
    display: flex;
}

.table__modal_filter_tickets .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 150px 100px;
    padding: 10px;

}

.table__modal_filter_tickets .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}




