.franchise__orders {
  height: 90vh;
	padding: 20px;
  overflow: scroll;
}

.franchise__orders_container {
  display: grid;
	grid-template-rows: auto auto 1fr;

	border-radius: 10px;
}

.franchise__orders_container .row__one {
  padding: 20px;
  background-color: var(--cards-background);
  border-radius: var(--general-card-border);
}

.franchise__orders_container > .row__one > .row__one > .row__two {
    display: grid;
    grid-template-columns: 2fr 4fr auto;
    column-gap: 20px;
}

.container__row_test {
  display: grid;
  grid-template-columns: repeat(2, 1fr) auto;
  column-gap: 10px;
}

.franchise__orders_container > .row__two {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)) auto;
  column-gap: 20px;
}



.conatiner__create_modal > .row__one {
   
}
.conatiner__create_modal > .row__two {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)) auto;
    column-gap: 20px;
}

.fade-out{
    opacity: 0;
}

.conatiner__create_modal > .row__three {

}





 /*************************************************************
                    Modal de updates sucursales
 **************************************************************/


 .btns__create {
    display: flex;
    justify-content: center;
}
.btns__cancelar-p {
  display: flex;
  justify-content: left;
}
 .overlay__modal__franchise-orders {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
  z-index: 1;
}

.overlay__modal__franchise-orders.active {
	visibility: visible;
}
.card-white {
    padding:10px;
    border-radius: 15px;
    background-color: #fff;
}
.popup__modal__franchise-orders {
	background-color: var(--background-modal);
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	width: 95%;
	max-height:95%;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
  overflow:scroll
}

.popup__modal__franchise-orders .btn-cerrar-popup__modal__franchise-orders {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 15px;
    top: 15px;
}


/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__modal__franchise-orders.active {	transform: scale(1); opacity: 1; }




.container__change_img {
    display: flex;
    align-items: center;
    width: auto;
    height: 100px;
    justify-content: center;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    outline: 2px solid var(--primary-color);
    margin-top: 10px;
}




.table__modal {
    
    display: grid;
    height: 100%;
    grid-template-rows: repeat(3, auto) 1fr;
	overflow: auto;
}


.table__modal .table__head {
    display: flex;
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-color: var(--table-header-color);
}

.table__modal .table__head .thead {
   display: flex;
   width: 100%;
}

.table__modal .table__head .thead {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    font-weight: 600;
    color: var(--text-table-color);
	text-align: left;
}

.table__modal .table__body {
	height: 100%;
    overflow: hidden;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}



  .table__modal .tbody__container {
    border-top: 2px solid var(--border-table-color);
}

.table__modal .tbody__container:nth-child(even) {
    background-color: var(--table-color);
}

.table__modal .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
}

.table__modal .tbody__container:first-child {
    border-top: 2px solid var(--border-table-color);
}

.table__modal .tbody__container:last-child {
    border-bottom: none;
    border-radius: 0 0 20px 20px;
}


.table__modal .table__body .tbody {
    display: flex;
}

.table__modal .table__body .tbody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    padding: 10px;
}

.table__modal .table__body .tbody .td {
    color: var(--text-color);
}


.table__modal .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}





.table__franchise__orders {
    
  display: grid;
  height: 100%;
  grid-template-rows: repeat(3, auto) 1fr;
/* overflow: auto; */
}

.table__franchise__orders > .table {
  border-radius: 10px;
  border: 2px solid var(--border-table-color);
}


.table__franchise__orders .table__head {
  display: flex;
  width: 100%;
  background-color: var( --table-color);
  border-radius: 10px 10px 0 0;
}

.table__franchise__orders .table__head .thead {
 display: flex;
 width: 100%;
}

.table__franchise__orders .table__head .thead {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 10px;
  font-weight: 600;
  color: var(--text-table-color);
text-align: left;
}

.table__franchise__orders .table__body {
height: 100%;
  overflow: hidden;
  overflow: auto;
  transition-delay: 0.0s;
  &::-webkit-scrollbar {
      width: 5px;
  }

  &::-webkit-scrollbar-thumb {
      background-color: var(--primary-color); 
      border-radius: 5px;
      height: 100px;
  }

  &::-webkit-scrollbar-track {
  /* Para modificar el background */
  }
}



.table__franchise__orders .tbody__container {
  border-top: 2px solid var(--border-table-color);
}

.table__franchise__orders .tbody__container:nth-child(even) {
  background-color: var(--table-color);
}

.table__franchise__orders .tbody__container:nth-child(odd) {
  background-color: var(--two-table-color);
}

.table__franchise__orders .tbody__container:first-child {
  border-top: 2px solid var(--border-table-color);
}

.table__franchise__orders .tbody__container:last-child {
  border-bottom: none;
  border-radius: 0 0 20px 20px;
}



.table__franchise__orders .table__body .tbody {
  display: flex;
}

.table__franchise__orders .table__body .tbody {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 10px;
}

.table__franchise__orders .table__body .tbody {
  color: var(--text-color);
}


.table__franchise__orders .table__body .tbody:hover {
  background-color: var(--table-hover-color);
  color: #fff;
}






















@keyframes slideInFade {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fade_in {
    animation: slideInFade 1s ease-in-out;
  }

  @keyframes slideToLeft {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slideLeft {
    animation: slideToLeft 1s ease-in-out;
  }


  @keyframes slideToRight {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slideRight {
    animation: slideToRight 1s ease-in-out;
  }



  .table__franchise_orders_modal {
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    height: auto;
    overflow: hidden;
    border: 2px solid var(--border-table-color);
    margin-top: 20px;
    text-align: left;
}



.table__franchise_orders_modal .table__head {
    display: flex;
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-color: var(--table-header-color);
}

.table__franchise_orders_modal .table__head .thead {
    display: flex;
    width: 100%;
}

.table__franchise_orders_modal .table__head .thead {
    display: grid;
    grid-template-columns: repeat(7, 1fr) 50px 100px 100px;
    padding: 10px;
    font-weight: 600;
    column-gap: 20px;
}

.table__franchise_orders_modal .table__body {
    height: 100%;
    overflow-y: auto;
    max-height: 500px;
    transition-delay: 0.0s;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color);
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {}
}

.table__franchise_orders_modal .tbody__container {
    border-top: 2px solid var(--border-table-color);
}

.table__franchise_orders_modal .tbody__container:nth-child(even) {
    background-color: var(--table-color);
}

.table__franchise_orders_modal .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
}

.table__franchise_orders_modal .tbody__container:first-child {
    border-top: 2px solid var(--border-table-color);
}

.table__franchise_orders_modal .tbody__container:last-child {
    border-bottom: none;
    border-radius: 0 0 20px 20px;
}




.table__franchise_orders_modal .table__body .tbody {
    display: flex;
}

.table__franchise_orders_modal .table__body .tbody.personalized {
    border: 2px solid var(--primary-color);
}

.table__franchise_orders_modal .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(7, 1fr) 50px 100px 100px;
    padding: 10px;
    column-gap: 20px;

}


.table__franchise_orders_modal .table__body .tbody>.td {
    display: flex;
    align-items: center;
}

.table__franchise_orders_modal .table__body .tbody>.td .article {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: #3d86c62c;
    border-radius: 5px;
    font-weight: 600;
    /* outline: 2px solid var(--primary-100); */
    color: var(--primary-100);
}

.table__franchise_orders_modal .table__body .tbody>.td .amount {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: #ff91001f;
    border-radius: 5px;
    font-weight: 600;
    /* outline: 2px solid var(--primary-100); */
    color: #FF8F00;


}

.table__franchise_orders_modal .table__body .tbody>.td .total {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Permite que los hijos se ajusten en varias líneas */

    align-items: center;
    padding: 5px 10px;
    background-color: #5e35b031;
    border-radius: 5px;
    font-weight: 600;
    /* outline: 2px solid var(--primary-100); */
    color: #6e34e2;
    white-space: normal;
    line-height: 1.5;
}

.table__franchise_orders_modal .table__body .tbody>.td .total__franch {
    display: inline-block;
    /* Forzar que se trate como un bloque en línea */
    margin-top: 4px;
    /* Añadir un pequeño margen superior */
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: #6e34e2fd;
    border-radius: 5px;
    font-weight: 600;
    color: #ffffff;

}

.table__franchise_orders_modal .table__body .tbody .td .see-concepts {
    margin-left: 15px;
}


.table__franchise_orders_modal .table__body .tbody>.td>.container__total {
    display: flex;
    align-items: center;
}

.table__franchise_orders_modal .table__body .tbody>.td .urgency {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: #ff91001f;
    border-radius: 5px;
    font-weight: 600;
    /* outline: 2px solid var(--primary-100); */
    color: #FF8F00;
    margin-left: 10px;
}

.table__franchise_orders_modal .table__body .tbody>.td .remove__urgency {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: #d32f2f27;
    border-radius: 5px;
    font-weight: 600;
    /* outline: 2px solid var(--primary-100); */
    color: #D32F2F;
    margin-left: 10px;
}





.table__franchise_orders_modal .table__body .tbody>.td.urgency .yes-urgency>svg {
    color: #FF8F00;
}

.table__franchise_orders_modal .table__body .tbody>.td.urgency .no-urgency>svg {
    color: #D32F2F;
}

.table__franchise_orders_modal .table__body .tbody>.td .inputs__general {
    margin-top: 0;
}


.table__franchise_orders_modal .table__body .tbody>.td .add_urgency {
    background-color: var(--orange-color);
    border-radius: 5px;
    color: #fff;
    padding: 3px 0;
    border: none;
    cursor: pointer;
}



.table__franchise_orders_modal .table__body .tbody:hover {
    background-color: var(--table-hover-color);
    color: #fff;
}


.table__franchise_orders_modal .table__body .tbody:hover .td>.article {
    background-color: #3d86c6;
    color: #ffffff;
}

.table__franchise_orders_modal .table__body .tbody:hover .td>.amount {
    background-color: #FF8F00;
    color: #ffffff;
}

.table__franchise_orders_modal .table__body .tbody:hover .td .total {
    background-color:#6e34e2;
    color: #ffffff;
}


/* .table__franchise_orders_modal .table__body .tbody:hover .td .yes-urgency {
    background-color: #FF8F00;
}

.table__franchise_orders_modal .table__body .tbody:hover .td .no-urgency {
    background-color: #D32F2F;
}

.table__franchise_orders_modal .table__body .tbody:hover .td .yes-urgency svg {
    color: #ffffff;
}

.table__franchise_orders_modal .table__body .tbody:hover .td .no-urgency svg {
    color: #ffffff;
} */






.modal-create-quotations__tooltip-text.no-urgency {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #d32f2f27;
}

.modal-create-quotations__tooltip-text.yes-urgency {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ff91002f;
}


.table__paf-requisicion {
  width: 100%;
  overflow-x: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.table__paf-requisicion table {
  width: 100%;
  border-collapse: collapse;
}

.table__paf-head {
  background-color: #3d85c6;
  color: white;
  text-transform: uppercase;
}

.table__paf-head th {
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #3d85c6;
}

.table__paf-body tr:nth-child(even) {
  background-color: #f8f9fa;
}

.table__paf-body tr:hover {
  background-color: #e2e6ea;
}

.table__paf-body td {
  padding: 12px;
  border-bottom: 1px solid #dee2e6;
}

.table__paf-body .tbody__paf-container td {
  white-space: nowrap;
}

.table__paf-no-data {
  text-align: center;
  font-weight: bold;
  color: #6c757d;
  padding: 20px;
}
