.franchise__orders {
  height: 90vh;
	padding: 20px;
}

.franchise__orders_container {
  display: grid;
	grid-template-rows: auto auto 1fr;

	border-radius: 10px;
  overflow: hidden;
}

.franchise__orders_container .row__one {
  padding: 20px;
  background-color: var(--cards-background);
  border-radius: var(--general-card-border);
}

.franchise__orders_container > .row__one > .row__one > .row__two {
    display: grid;
    grid-template-columns: 2fr 4fr auto;
    column-gap: 20px;
}

.container__row_test {
  display: grid;
  grid-template-columns: repeat(2, 1fr) auto;
  column-gap: 10px;
}

.franchise__orders_container > .row__two {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)) auto;
  column-gap: 20px;
}



.conatiner__create_modal > .row__one {
   
}
.conatiner__create_modal > .row__two {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)) auto;
    column-gap: 20px;
}

.fade-out{
    opacity: 0;
}

.conatiner__create_modal > .row__three {

}





 /*************************************************************
                    Modal de updates sucursales
 **************************************************************/


 .btns__create {
    display: flex;
    justify-content: center;
}
.btns__cancelar-p {
  display: flex;
  justify-content: left;
}
 .overlay__modal__franchise-orders {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
  z-index: 1;
}

.overlay__modal__franchise-orders.active {
	visibility: visible;
}
.card-white {
    padding:10px;
    border-radius: 15px;
    background-color: #fff;
}
.popup__modal__franchise-orders {
	background-color: var(--background-modal);
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	width: 95%;
	max-height:95%;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;

}

.popup__modal__franchise-orders .btn-cerrar-popup__modal__franchise-orders {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 15px;
    top: 15px;
}


/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__modal__franchise-orders.active {	transform: scale(1); opacity: 1; }




.container__change_img {
    display: flex;
    align-items: center;
    width: auto;
    height: 100px;
    justify-content: center;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    outline: 2px solid var(--primary-color);
    margin-top: 10px;
}




.table__modal {
    
    display: grid;
    height: 100%;
    grid-template-rows: repeat(3, auto) 1fr;
	overflow: auto;
}


.table__modal .table__head {
    display: flex;
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-color: var(--table-header-color);
}

.table__modal .table__head .thead {
   display: flex;
   width: 100%;
}

.table__modal .table__head .thead {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    font-weight: 600;
    color: var(--text-table-color);
	text-align: left;
}

.table__modal .table__body {
	height: 100%;
    overflow: hidden;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}



  .table__modal .tbody__container {
    border-top: 2px solid var(--border-table-color);
}

.table__modal .tbody__container:nth-child(even) {
    background-color: var(--table-color);
}

.table__modal .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
}

.table__modal .tbody__container:first-child {
    border-top: 2px solid var(--border-table-color);
}

.table__modal .tbody__container:last-child {
    border-bottom: none;
    border-radius: 0 0 20px 20px;
}


.table__modal .table__body .tbody {
    display: flex;
}

.table__modal .table__body .tbody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    padding: 10px;
}

.table__modal .table__body .tbody .td {
    color: var(--text-color);
}


.table__modal .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}





.table__franchise__orders {
    
  display: grid;
  height: 100%;
  grid-template-rows: repeat(3, auto) 1fr;
overflow: auto;
}

.table__franchise__orders > .table {
  border-radius: 10px;
  border: 2px solid var(--border-table-color);
}


.table__franchise__orders .table__head {
  display: flex;
  width: 100%;
  background-color: var( --table-color);
  border-radius: 10px 10px 0 0;
}

.table__franchise__orders .table__head .thead {
 display: flex;
 width: 100%;
}

.table__franchise__orders .table__head .thead {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 10px;
  font-weight: 600;
  color: var(--text-table-color);
text-align: left;
}

.table__franchise__orders .table__body {
height: 100%;
  overflow: hidden;
  overflow: auto;
  transition-delay: 0.0s;
  &::-webkit-scrollbar {
      width: 5px;
  }

  &::-webkit-scrollbar-thumb {
      background-color: var(--primary-color); 
      border-radius: 5px;
      height: 100px;
  }

  &::-webkit-scrollbar-track {
  /* Para modificar el background */
  }
}



.table__franchise__orders .tbody__container {
  border-top: 2px solid var(--border-table-color);
}

.table__franchise__orders .tbody__container:nth-child(even) {
  background-color: var(--table-color);
}

.table__franchise__orders .tbody__container:nth-child(odd) {
  background-color: var(--two-table-color);
}

.table__franchise__orders .tbody__container:first-child {
  border-top: 2px solid var(--border-table-color);
}

.table__franchise__orders .tbody__container:last-child {
  border-bottom: none;
  border-radius: 0 0 20px 20px;
}



.table__franchise__orders .table__body .tbody {
  display: flex;
}

.table__franchise__orders .table__body .tbody {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 10px;
}

.table__franchise__orders .table__body .tbody {
  color: var(--text-color);
}


.table__franchise__orders .table__body .tbody:hover {
  background-color: var(--table-hover-color);
  color: #fff;
}






















@keyframes slideInFade {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fade_in {
    animation: slideInFade 1s ease-in-out;
  }

  @keyframes slideToLeft {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slideLeft {
    animation: slideToLeft 1s ease-in-out;
  }


  @keyframes slideToRight {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slideRight {
    animation: slideToRight 1s ease-in-out;
  }