.article__view {
    height: 90vh;
	padding: 20px;
}

.article__view_container {

	display: grid;
  	grid-template-rows: auto auto 1fr;

}


.article__view_container > .row__one {
    padding: 20px;
    background-color: var(--cards-background);
    border-radius: var(--general-card-border);
}
.card-row {
    padding: 20px;
    background-color: var(--cards-background);
    border-radius: var(--general-card-border);
}



.article__view_container > .row__two {
   
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin-top: 30px;
	overflow: auto;
	transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
    
	
}

.article__view_container .row__two > .item {
    color: var(--text-color-ligth);
    border: 2px solid var(--line-general);
    height: auto;
    display: block;
   height: min-content;
    border-radius: 10px;
    cursor: pointer;
    position: relative;

}

.article__view_container .row__two > .item  .code {
  
}

.article__view_container .row__two > .item  .descripcion {
    font-weight: 600;
    font-size: 16px;
    color: var(--text-color);
}

.article__view_container .row__two > .item > p {
    padding: 5px 0;
    font-size: .9rem

}

.article__view_container .row__two > .item .stock {
    position: absolute;
    top: 0;
    right: 0;
}

.article__view_container .row__two > .item .stock  > .desabasto {
    padding: 5px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 27, 27);
    font-weight: 500;

}

.article__view_container .row__two > .item .stock > .ultima-piezas {

  padding: 5px;
  border-radius: 5px;
  background-color:  #f9a82538;
  color:  #d88909;
  font-weight: 500;
  
}


.article__view_container .row__two > .item > .content {
    padding: 15px;
}

.article__view_container .row__two > .item .content > .labels {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: flex-start; 
}

.article__view_container .row__two > .item .content > .labels > * {
    flex: 0 1 auto;
}


.article__view_container .row__two > .item .content > .labels > div {
    display: flex;
}

.article__view_container .row__two > .item .content > .labels > div > svg {
    margin-right: 5px;
}



.article__view_container .row__two > .item .content > .labels  {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
 
}

.article__view_container .row__two > .item .content > .labels > .bajo-pedido  {
    padding: 5px;
    border-radius: 5px;
    background-color: #3d86c636;
    color: #126fc0;
    font-weight: 500;
    
}

.article__view_container .row__two > .item  .content > .labels > .vender-sin-stock {
    padding: 5px;
    border-radius: 5px;
    background-color:  rgba(22, 101, 52, 0.192);
    color:  rgb(22 101 52);
    font-weight: 500;
 
}




.article__view_container .row__two > .item .img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    height: 200px;
    background-size: cover;
    background-position: center;

}



.article__view_container .row__two > .item .img > img {
    width: 100%;
    height: auto;
	overflow-y: auto;

}








 /*************************************************************
                    Modal de crear sucursales
 **************************************************************/


  
 .overlay__article-view__modal {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
    z-index: 10;
}

.overlay__article-view__modal.active {
	visibility: visible;
}

.overlay__article-view__modal .header__modal {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
}


.popup__article-view__modal {
	background-color: var(--background-modal);
	border-radius: 5px;
	padding: 40px 20px 20px 20px;
	width: 95vw;
    max-width: 1450px;
	height: 95vh;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
	overflow: hidden;
}

.popup__article-view__modal .btn-cerrar-popup__article-view__modal {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 30px;
    top: 10px;
}





/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__article-view__modal.active {	transform: scale(1); opacity: 1; }





