.personalized_modal {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100%;
  overflow: auto;
  
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #1F319D;
    border-radius: 5px;
    height: 100px;
  }

  &::-webkit-scrollbar-track {
    /* Para modificar el background */
  }
}

.personalized_modal .row__three {
  position: relative;
}


.personalized_modal .row__three .real_price {

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;

}

.personalized_modal .row__three .real_price .name {
  padding: 5px 10px;
  background-color: #3d86c62c;
  border-radius: 5px 0 0px 5px;
  border: 2px solid #3d86c62c;;

  font-weight: 600;
  color: var(--primary-100);
}




.personalized_modal .row__three .real_price .value {
  padding: 5px 10px;
  border: 2px solid #f4f4f4;
  border-left: none;
  border-radius: 5px 5px 5px 0;
}



.personalized_modal .row__three .real_personalized {

  display: flex;
  justify-content: center;
  align-items: center;
 
  border-radius: 5px;

}

.personalized_modal .row__three .real_personalized .value {
  padding: 5px 10px;
   border: 2px solid #f4f4f4;
   border-left: none;
   border-radius: 5px 5px 5px 0;
}


.personalized_modal .row__three .real_personalized .name {
  padding: 5px 10px;
  border-radius: 5px 0 0px 5px;
  border: 2px solid #ff910038;
  font-weight: 600;
  background-color: #ff910038;
  color: #FF8F00;
}



/*************************************************************
                    Modal de crear sucursales
 **************************************************************/



.overlay__personalized_modal {
  background: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  z-index: 10;
  height: 100%;
}

.overlay__personalized_modal.active {
  visibility: visible;
}

.popup__personalized_modal {
  background-color: var(--background-modal);
  border-radius: 5px;
  padding: 20px;
  width: 95%;
  height: 95%;
  transition: .3s ease all;
  transform: scale(0.7);
  opacity: 0;
  z-index: 10;
  overflow:auto
}

.popup__personalized_modal .btn-cerrar-popup__personalized_modal {
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
  transition: .3s ease all;
  color: #BBBBBB;
  position: absolute;
  right: 15px;
  top: 15px;
}



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__personalized_modal.active {
  transform: scale(1);
  opacity: 1;
}




.personalized_modal>.row__one {
  padding: 20px;
  background-color: var(--cards-background);
  border-radius: var(--general-card-border);
}


/*************************************************************
                    Tabla de personalizados
 **************************************************************/

.table__personalized {
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(2, auto) 1fr;

}


.table__personalized .table__head {
  display: flex;
  width: 100%;
  background-color: var(--table-color);
  color: var(--text-table-color);
  border-radius: 5px 5px 0 0;
  border: 2px solid var(--border-table-color);
  border-bottom: none;
}

.table__personalized .table__head .thead {
  display: flex;
  width: 100%;
}

.table__personalized .table__head .thead {
  display: grid;
  grid-template-columns: 100px 2fr repeat(7, 1fr) 50px 50px;
  padding: 10px;
  font-weight: 600;
  background-color: var(--table-header-color);
}

.table__personalized .table__head .thead.active {
  grid-template-columns: repeat(5, 1fr);
}


.table__personalized .table__body {
  border: 2px solid var(--border-table-color);
  border-top: none;

  transition-delay: 0.0s;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #1F319D;
    border-radius: 5px;
    height: 100px;
  }

  &::-webkit-scrollbar-track {
    /* Para modificar el background */
  }
}


.table__personalized .tbody__container {
  border-top: 2px solid var(--border-table-color);
}

.table__personalized .tbody__container:nth-child(even) {
  background-color: var(--table-color);
}

.table__personalized .tbody__container:nth-child(odd) {
  background-color: var(--two-table-color);
}

.table__personalized .tbody__container:first-child {
  border-top: 2px solid var(--border-table-color);
}


.table__personalized .table__body .tbody {
  display: flex;
}

.table__personalized .table__body .tbody {
  display: grid;
  grid-template-columns: 100px 2fr repeat(7, 1fr) 50px 50px;
  padding: 10px;
}

.table__personalized .table__body .tbody > .td {
  display: flex;
}

.table__personalized .table__body .tbody > .td > .article {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #3d86c62c;
  border-radius: 5px;
  font-weight: 600;
  /* outline: 2px solid var(--primary-100); */
  color: var(--primary-100);
}

.table__personalized .table__body .tbody:hover>.td .folio-identifier {
	background-color: #3D85C6;
	color: #ffffff;
}

.table__personalized .table__body .tbody:hover>.td .amount-identifier {
	background-color: #ff9100;
	color: #ffffff;
}


.table__personalized .table__body .tbody.active {
  grid-template-columns: repeat(5, 1fr);
}

.table__personalized .table__body .tbody:hover {
  background-color: var(--table-hover-color);
  color: #fff;
}



.table__personalized .custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  /* Evita la selección de texto al hacer clic */
  margin: 5px;
}

.table__personalized .custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  /* Oculta el checkbox original */
  cursor: pointer;
}

.table__personalized .checkmark {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  border-radius: 20px;
  /* Hace el fondo con bordes redondeados */
  position: relative;
  transition: background-color 0.3s;
  outline: none;
}

.table__personalized .custom-checkbox input[type="checkbox"]:checked~.checkmark {
  background-color: #4caf50;
  /* Verde para el estado marcado */
}

.table__personalized .checkmark::after {
  content: '';
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.table__personalized .custom-checkbox input[type="checkbox"]:checked~.checkmark::after {
  display: block;
}









/*************************************************************
                    Tabla de Entradas
 **************************************************************/


 
.table__personalized-update .custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  /* Evita la selección de texto al hacer clic */
  margin: 5px;
}

.table__personalized-update .custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  /* Oculta el checkbox original */
  cursor: pointer;
}

.table__personalized-update .checkmark {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  border-radius: 20px;
  /* Hace el fondo con bordes redondeados */
  position: relative;
  transition: background-color 0.3s;
  outline: none;
}

.table__personalized-update .custom-checkbox input[type="checkbox"]:checked~.checkmark {
  background-color: #4caf50;
  /* Verde para el estado marcado */
}

.table__personalized-update .checkmark::after {
  content: '';
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.table__personalized-update .custom-checkbox input[type="checkbox"]:checked~.checkmark::after {
  display: block;
}

 .table__personalized-update {
  border-radius: 10px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100%;

}


.table__personalized-update .table__head {
  display: flex;
  width: 100%;
  background-color: var(--table-header-color);
  border-radius: 20px 20px 0 0;
   background-color: var(--table-header-color);
}

.table__personalized-update .table__head .thead {
  display: flex;
  width: 100%;
}

.table__personalized-update .table__head .thead {
  display: grid;
  grid-template-columns: 100px repeat(5, 1fr) 100px 100px;
  padding: 10px;
  font-weight: 600;
  column-gap: 20px;
}

.table__personalized-update .table__body {
  height: 100%;

  transition-delay: 0.0s;

  &::-webkit-scrollbar {
      width: 5px;
  }

  &::-webkit-scrollbar-thumb {
      background-color: var(--primary-color);
      border-radius: 5px;
      height: 100px;
  }

  &::-webkit-scrollbar-track {
      /* Para modificar el background */
  }
}

.table__personalized-update .tbody__container {
  border-top: 2px solid var(--border-table-color);
}

.table__personalized-update .tbody__container:nth-child(even) {
  background-color: var(--table-color);
}

.table__personalized-update .tbody__container:nth-child(odd) {
  background-color: var(--two-table-color);
}

.table__personalized-update .tbody__container:first-child {
  border-top: 2px solid var(--border-table-color);
}

.table__personalized-update .tbody__container:last-child {
  border-bottom: none;
  border-radius: 0 0 20px 20px;
}




.table__personalized-update .table__body .tbody {
  display: flex;
}

.table__personalized-update .table__body .tbody.personalized {
  border: 2px solid var(--primary-color);
}

.table__personalized-update .table__body .tbody {
  display: grid;
  grid-template-columns: 100px repeat(5, 1fr) 100px 100px;
  padding: 10px;
  column-gap: 20px;

}


.table__personalized-update .table__body .tbody>.td {
  display: flex;
  align-items: center;
}

.table__personalized-update .table__body .tbody>.td .article {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #3d86c62c;
  border-radius: 5px;
  font-weight: 600;
  /* outline: 2px solid var(--primary-100); */
  color: var(--primary-100);
}

.table__personalized-update .table__body .tbody>.td .amount {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #ff91001f;
  border-radius: 5px;
  font-weight: 600;
  /* outline: 2px solid var(--primary-100); */
  color: #FF8F00;


}

.table__personalized-update .table__body .tbody>.td .total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #5e35b031;
  border-radius: 5px;
  font-weight: 600;
  /* outline: 2px solid var(--primary-100); */
  color: #6e34e2;
}


.table__personalized-update .table__body .tbody .td  .see-concepts {
  margin-left: 15px;
}


.table__personalized-update .table__body .tbody > .td > .container__total {
  display: flex;
  align-items: center;
}

.table__personalized-update .table__body .tbody>.td .urgency {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #ff91001f;
  border-radius: 5px;
  font-weight: 600;
  /* outline: 2px solid var(--primary-100); */
  color: #FF8F00;
  margin-left: 10px;
}

.table__personalized-update .table__body .tbody>.td .remove__urgency {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #d32f2f27;
  border-radius: 5px;
  font-weight: 600;
  /* outline: 2px solid var(--primary-100); */
  color: #D32F2F;
  margin-left: 10px;
}





.table__personalized-update .table__body .tbody>.td.urgency .yes-urgency > svg {
  color: #FF8F00;
}

.table__personalized-update .table__body .tbody>.td.urgency .no-urgency > svg {
  color: #D32F2F;
}

.table__personalized-update .table__body .tbody>.td .inputs__general {
  margin-top: 0;
}

.table__personalized-update .table__body .tbody>.td .add_urgency {
  background-color: var(--orange-color);
  border-radius: 5px;
  color: #fff;
  padding: 3px 0;
  border: none;
  cursor: pointer;
}

.table__personalized-update .table__body .tbody:hover .td .article-identifier {
  background-color: #3d86c6;
  color: #ffffff;
}

.table__personalized-update .table__body .tbody:hover .td .cancel-icon {
  background-color: #D32F2F;
  color: #ffffff;
}

.table__personalized-update .table__body .tbody:hover .td .see-icon {
  background-color: #3d86c6;
  color: #ffffff;
}

.table__personalized-update .table__body .tbody:hover .td .total-identifier {
  background-color: #5d35b0;
  color: #ffffff;
}

.table__personalized-update .table__body .tbody:hover .td .urgency-true-icon {
  background-color: #FF8F00;
  color: #ffffff;
}




.table__personalized-update .table__body .tbody:hover .td .urgency-true-icon {
  background-color: #FF8F00;
  color: #ffffff;
}

.table__personalized-update .table__body .tbody:hover .td .urgency-false-icon {
  background-color: #D32F2F;
  color: #ffffff;
}

.table__personalized-update .table__body .tbody:hover {
  background-color: var(--table-hover-color);
  color: #fff;
}






.modal-create-quotations__tooltip-text.no-urgency {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #d32f2f27;
}

.modal-create-quotations__tooltip-text.yes-urgency {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #ff91002f;
}

























/*************************************************************
                    Tabla de Entradas
 **************************************************************/


 
 .table__modal-sale__personalized-update .custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  /* Evita la selección de texto al hacer clic */
  margin: 5px;
}

 .table__modal-sale__personalized-update {
  border-radius: 10px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100%;
  overflow: hidden;
}


.table__modal-sale__personalized-update .table__head {
  display: flex;
  width: 100%;
  background-color: var(--table-header-color);
  border-radius: 20px 20px 0 0;
   background-color: var(--table-header-color);
}

.table__modal-sale__personalized-update .table__head .thead {
  display: flex;
  width: 100%;
}

.table__modal-sale__personalized-update .table__head .thead {
  display: grid;
  grid-template-columns: repeat(8, 1fr) repeat(3, 50px);
  padding: 10px;
  font-weight: 600;
  column-gap: 20px;
}

.table__modal-sale__personalized-update .table__body {
  height: 100%;
  overflow-y: auto;
  transition-delay: 0.0s;

  &::-webkit-scrollbar {
      width: 5px;
  }

  &::-webkit-scrollbar-thumb {
      background-color: var(--primary-color);
      border-radius: 5px;
      height: 100px;
  }

  &::-webkit-scrollbar-track {
      /* Para modificar el background */
  }
}

.table__modal-sale__personalized-update .tbody__container {
  border-top: 2px solid var(--border-table-color);
}

.table__modal-sale__personalized-update .tbody__container:nth-child(even) {
  background-color: var(--table-color);
}

.table__modal-sale__personalized-update .tbody__container:nth-child(odd) {
  background-color: var(--two-table-color);
}

.table__modal-sale__personalized-update .tbody__container:first-child {
  border-top: 2px solid var(--border-table-color);
}

.table__modal-sale__personalized-update .tbody__container:last-child {
  border-bottom: none;
  border-radius: 0 0 20px 20px;
}




.table__modal-sale__personalized-update .table__body .tbody {
  display: flex;
}

.table__modal-sale__personalized-update .table__body .tbody.personalized {
  border: 2px solid var(--primary-color);
}

.table__modal-sale__personalized-update .table__body .tbody {
  display: grid;
  grid-template-columns: repeat(8, 1fr) repeat(3, 50px);
  padding: 10px;
  column-gap: 20px;

}


.table__modal-sale__personalized-update .table__body .tbody>.td {
  display: flex;
  align-items: center;
}

.table__modal-sale__personalized-update .table__body .tbody>.td .article {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #3d86c62c;
  border-radius: 5px;
  font-weight: 600;
  /* outline: 2px solid var(--primary-100); */
  color: var(--primary-100);
}

.table__modal-sale__personalized-update .table__body .tbody>.td .amount {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #ff91001f;
  border-radius: 5px;
  font-weight: 600;
  /* outline: 2px solid var(--primary-100); */
  color: #FF8F00;


}

.table__modal-sale__personalized-update .table__body .tbody>.td .total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #5e35b031;
  border-radius: 5px;
  font-weight: 600;
  /* outline: 2px solid var(--primary-100); */
  color: #6e34e2;
}


.table__modal-sale__personalized-update .table__body .tbody .td  .see-concepts {
  margin-left: 15px;
}


.table__modal-sale__personalized-update .table__body .tbody > .td > .container__total {
  display: flex;
  align-items: center;
}

.table__modal-sale__personalized-update .table__body .tbody>.td .urgency {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #ff91001f;
  border-radius: 5px;
  font-weight: 600;
  /* outline: 2px solid var(--primary-100); */
  color: #FF8F00;
  margin-left: 10px;
}

.table__modal-sale__personalized-update .table__body .tbody>.td .remove__urgency {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #d32f2f27;
  border-radius: 5px;
  font-weight: 600;
  /* outline: 2px solid var(--primary-100); */
  color: #D32F2F;
  margin-left: 10px;
}





.table__modal-sale__personalized-update .table__body .tbody>.td.urgency .yes-urgency > svg {
  color: #FF8F00;
}

.table__modal-sale__personalized-update .table__body .tbody>.td.urgency .no-urgency > svg {
  color: #D32F2F;
}

.table__modal-sale__personalized-update .table__body .tbody>.td .inputs__general {
  margin-top: 0;
}

.table__modal-sale__personalized-update .table__body .tbody>.td .add_urgency {
  background-color: var(--orange-color);
  border-radius: 5px;
  color: #fff;
  padding: 3px 0;
  border: none;
  cursor: pointer;
}

.table__modal-sale__personalized-update .table__body .tbody:hover .td .folio-identifier {
  background-color: #3d86c6;
  color: #ffffff;
}

.table__modal-sale__personalized-update .table__body .tbody:hover .td .cancel-icon {
  background-color: #D32F2F;
  color: #ffffff;
}

.table__modal-sale__personalized-update .table__body .tbody:hover .td .see-icon {
  background-color: #3d86c6;
  color: #ffffff;
}

.table__modal-sale__personalized-update .table__body .tbody:hover .td .total-identifier {
  background-color: #5d35b0;
  color: #ffffff;
}

.table__modal-sale__personalized-update .table__body .tbody:hover .td .amount-identifier {
  background-color: #FF8F00;
  color: #ffffff;
}




.table__modal-sale__personalized-update .table__body .tbody:hover .td .urgency-true-icon {
  background-color: #FF8F00;
  color: #ffffff;
}

.table__modal-sale__personalized-update .table__body .tbody:hover .td .urgency-false-icon {
  background-color: #D32F2F;
  color: #ffffff;
}

.table__modal-sale__personalized-update .table__body .tbody:hover {
  background-color: var(--table-hover-color);
  color: #fff;
}






.modal-create-quotations__tooltip-text.no-urgency {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #d32f2f27;
}

.modal-create-quotations__tooltip-text.yes-urgency {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #ff91002f;
}



































/*************************************************************
                    Tabla de Entradas
 **************************************************************/


 
 .table__personalized-update-additional .custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  /* Evita la selección de texto al hacer clic */
  margin: 5px;
}

.table__personalized-update-additional .custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  /* Oculta el checkbox original */
  cursor: pointer;
}

.table__personalized-update-additional .checkmark {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  border-radius: 20px;
  /* Hace el fondo con bordes redondeados */
  position: relative;
  transition: background-color 0.3s;
  outline: none;
}

.table__personalized-update-additional .custom-checkbox input[type="checkbox"]:checked~.checkmark {
  background-color: #4caf50;
  /* Verde para el estado marcado */
}

.table__personalized-update-additional .checkmark::after {
  content: '';
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.table__personalized-update-additional .custom-checkbox input[type="checkbox"]:checked~.checkmark::after {
  display: block;
}

 .table__personalized-update-additional {
  border-radius: 10px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100%;
  overflow: hidden;
}


.table__personalized-update-additional .table__head {
  display: flex;
  width: 100%;
  background-color: var(--table-header-color);
  border-radius: 20px 20px 0 0;
   background-color: var(--table-header-color);
}

.table__personalized-update-additional .table__head .thead {
  display: flex;
  width: 100%;
}

.table__personalized-update-additional .table__head .thead {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 100px 100px;
  padding: 10px;
  font-weight: 600;
  column-gap: 20px;
}

.table__personalized-update-additional .table__body {
  height: 100%;
  overflow-y: auto;
  transition-delay: 0.0s;

  &::-webkit-scrollbar {
      width: 5px;
  }

  &::-webkit-scrollbar-thumb {
      background-color: var(--primary-color);
      border-radius: 5px;
      height: 100px;
  }

  &::-webkit-scrollbar-track {
      /* Para modificar el background */
  }
}

.table__personalized-update-additional .tbody__container {
  border-top: 2px solid var(--border-table-color);
}

.table__personalized-update-additional .tbody__container:nth-child(even) {
  background-color: var(--table-color);
}

.table__personalized-update-additional .tbody__container:nth-child(odd) {
  background-color: var(--two-table-color);
}

.table__personalized-update-additional .tbody__container:first-child {
  border-top: 2px solid var(--border-table-color);
}

.table__personalized-update-additional .tbody__container:last-child {
  border-bottom: none;
  border-radius: 0 0 20px 20px;
}




.table__personalized-update-additional .table__body .tbody {
  display: flex;
}

.table__personalized-update-additional .table__body .tbody.personalized {
  border: 2px solid var(--primary-color);
}

.table__personalized-update-additional .table__body .tbody {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 100px 100px;
  padding: 10px;
  column-gap: 20px;

}


.table__personalized-update-additional .table__body .tbody>.td {
  display: flex;
  align-items: center;
}

.table__personalized-update-additional .table__body .tbody>.td .article {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #3d86c62c;
  border-radius: 5px;
  font-weight: 600;
  /* outline: 2px solid var(--primary-100); */
  color: var(--primary-100);
}

.table__personalized-update-additional .table__body .tbody>.td .amount {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #ff91001f;
  border-radius: 5px;
  font-weight: 600;
  /* outline: 2px solid var(--primary-100); */
  color: #FF8F00;


}

.table__personalized-update-additional .table__body .tbody>.td .total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #5e35b031;
  border-radius: 5px;
  font-weight: 600;
  /* outline: 2px solid var(--primary-100); */
  color: #6e34e2;
}


.table__personalized-update-additional .table__body .tbody .td  .see-concepts {
  margin-left: 15px;
}


.table__personalized-update-additional .table__body .tbody > .td > .container__total {
  display: flex;
  align-items: center;
}

.table__personalized-update-additional .table__body .tbody>.td .urgency {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #ff91001f;
  border-radius: 5px;
  font-weight: 600;
  /* outline: 2px solid var(--primary-100); */
  color: #FF8F00;
  margin-left: 10px;
}

.table__personalized-update-additional .table__body .tbody>.td .remove__urgency {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #d32f2f27;
  border-radius: 5px;
  font-weight: 600;
  /* outline: 2px solid var(--primary-100); */
  color: #D32F2F;
  margin-left: 10px;
}





.table__personalized-update-additional .table__body .tbody>.td.urgency .yes-urgency > svg {
  color: #FF8F00;
}

.table__personalized-update-additional .table__body .tbody>.td.urgency .no-urgency > svg {
  color: #D32F2F;
}

.table__personalized-update-additional .table__body .tbody>.td .inputs__general {
  margin-top: 0;
}

.table__personalized-update-additional .table__body .tbody>.td .add_urgency {
  background-color: var(--orange-color);
  border-radius: 5px;
  color: #fff;
  padding: 3px 0;
  border: none;
  cursor: pointer;
}

.table__personalized-update-additional .table__body .tbody:hover .td .folio-identifier {
  background-color: #3d86c6;
  color: #ffffff;
}

.table__personalized-update-additional .table__body .tbody:hover .td .cancel-icon {
  background-color: #D32F2F;
  color: #ffffff;
}

.table__personalized-update-additional .table__body .tbody:hover .td .see-icon {
  background-color: #3d86c6;
  color: #ffffff;
}

.table__personalized-update-additional .table__body .tbody:hover .td .total-identifier {
  background-color: #5d35b0;
  color: #ffffff;
}

.table__personalized-update-additional .table__body .tbody:hover .td .amount-identifier {
  background-color: #FF8F00;
  color: #ffffff;
}




.table__personalized-update-additional .table__body .tbody:hover .td .urgency-true-icon {
  background-color: #FF8F00;
  color: #ffffff;
}

.table__personalized-update-additional .table__body .tbody:hover .td .urgency-false-icon {
  background-color: #D32F2F;
  color: #ffffff;
}

.table__personalized-update-additional .table__body .tbody:hover {
  background-color: var(--table-hover-color);
  color: #fff;
}
