.quotation {
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: auto; /* Si el contenido es demasiado grande, habilita scroll */
    flex-grow: 1; /* Esto asegura que .quotation ocupe todo el espacio disponible */
}

.container__quotation {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--main-card-color);
    border-radius: 10px;
    overflow: hidden; /* Prevenir desbordamiento */
}










.container__quotation > .filter__container {
  background-color: var(--cards-background);
  border-radius: 10px;
  padding: 20px;
}

.container__quotation > .filter__container > .row__two {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}


.container__quotation > .filter__container > .row__three {
  display: flex;
  justify-content: center;
  position: relative;
}

.container__quotation > .filter__container > .row__three > .button__search {}

.container__quotation > .filter__container > .row__three .button__create-quotation {
  position: absolute;
  right: 0;
}






/*************************************************************
 
                    Tabla de Areas
 
 **************************************************************/


/* 
 .table__requisicion {
	border-radius: 10px;
	overflow: hidden;
	overflow-x: auto;

  }
  
  .table__requisicion table {
	width: 100%;
	border-collapse: collapse;
  }
  
  .table__head {
	background-color: var(--table-color);
	color: var(--text-table-color);
	font-weight: 600;
  }
  
  .thead th {
	padding: 10px;
	text-align: left;
  }
  
  .table__body {
	max-height: 400px; 
	overflow-y: auto;
  }
  
  .table__body .tbody__container {
	background-color: var(--table-color);
	color: var(--text-table-color);
  }
  
  .table__body .tbody__container:nth-child(even) {
	background-color: var(--two-table-color);
  }
  
  .table__body .tbody__container:hover {
	background-color: var(--secundary-color);
	color: #fff;
  }
  
  .active-status {
	color: green;
	font-weight: bold;
  }
  
  .canceled-status {
	color: red;
	font-weight: bold;
  }
  
  .branchoffice__edit_btn {
	padding: 5px 10px;
	color: #fff;
	background-color: var(--primary-color);
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
  }
  
  .branchoffice__edit_btn:hover {
	background-color: var(--primary-color-hover);
  }
  

.area__edit_btn {
	background-color: var(--primary-color);
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: var(--border-radius-general);
	cursor: pointer;
  }

 */



/*************************************************************
                    Tabla dl modal de crear requisiciones
 **************************************************************/




/* ------------------------- */
/* Tabla del Modal */
/* ------------------------- */


.table__quotations-head {
  display: grid;
  margin-top: 20px;
}

.table__quotations-head .content__table {
  display: grid;
  grid-template-rows: auto 1fr; 
  border-radius: 10px 10px 0 0;
  border: 2px solid var(--border-table-color);
  border-bottom: none;
}


.table__quotations-head .table__head {
  display: flex;
  width: 100%;
  background-color: var(--table-header-color);
  border-radius: 20px 20px 0 0 ;
}

.table__quotations-head .table__head .thead {
  display: flex;
  width: 100%;
  
}

.table__quotations-head .table__head .thead {
  display: grid;
  grid-template-columns: 100px repeat(7, minmax(0, 1fr));
  padding: 10px;
  column-gap: 20px;
  font-weight: 600;
  color: var(--text-table-color);
  

}


/* ------------------------- */
/* Tabla del Modal */
/* ------------------------- */


.table__quotations-body-desk {
  border: 2px solid var(--border-table-color);
  border-top: none;
  overflow: auto;
  transition-delay: 0.0s;
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 5px;
    height: 100px;
  }

  &::-webkit-scrollbar-track {
    /* Para modificar el background */
  }
}


.table__quotations-body-desk .table__body {

 
}

.table__quotations-body-desk .tbody__container {
  border-top: 2px solid var(--border-table-color);
}

.table__quotations-body-desk .tbody__container:nth-child(even) {
  background-color: var(--table-color);
}

.table__quotations-body-desk .tbody__container:nth-child(odd) {
  background-color: var(--two-table-color);
}

.table__quotations-body-desk .tbody__container:first-child {
  border-top: 2px solid var(--border-table-color);
}

.table__quotations-body-desk .tbody__container:last-child {
  border-bottom: none;
  border-radius: 0 0 20px 20px;
}


.table__quotations-body-desk .table__body .tbody {
  display: flex;
}

.table__quotations-body-desk .table__body .tbody {
  display: grid;
  grid-template-columns: 100px repeat(7, minmax(0, 1fr));
  padding: 10px;
  column-gap: 20px;
  align-items: center;

}

.table__quotations-body-desk .table__body .tbody .td {
  display: flex;
  
}

.table__quotations-body-desk .table__body .tbody .td > .by-user {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  color: #5c6c85;
  font-weight: 500;
}



.table__quotations-body-desk .table__body .tbody .td > .folio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #3d86c62c;
  border-radius: 5px;
  font-weight:600;
  /* outline: 2px solid var(--primary-100); */
  color: var(--primary-100);
}

.table__quotations-body-desk .table__body .tbody .td > .total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #ff6e611f;
  border-radius: 5px;
  font-weight:600;
  /* outline: 2px solid var(--primary-100); */
  color: var(--accent-300);
}




.table__quotations-body-desk .table__body .tbody .td.delete {
  display: flex;
  justify-content: end;
}

.table__quotations-body-desk .table__body .tbody .td .inputs__general {
  margin-top: 0;
}

.table__quotations-body-desk .table__body .tbody:hover {
  background-color: var(--table-hover-color);
  color: #fff;
}

.table__quotations-body-desk .table__body .tbody:hover .td > .folio {
  background-color: #3d86c6;
  color: #ffffff;
}

.table__quotations-body-desk .table__body .tbody:hover .td > .total {
  background-color: #f55041;
  color: #ffffff;
}

/* ////////////////////////////////////MOVIL/////////////////////////////////////////////// */


.table__quotations-body-response {
  border: 2px solid var(--border-table-color);
  border-top: none;
  overflow: auto;
  transition-delay: 0.0s;
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 5px;
    height: 100px;
  }

  &::-webkit-scrollbar-track {
    /* Para modificar el background */
  }
}


.table__quotations-body-response .table__body {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
 
}

.table__quotations-body-response .tbody__container {
  border: 2px solid var(--border-table-color);
  border-radius: 10px      bbvbv     ;
}

/* .table__quotations-body-response .tbody__container:nth-child(even) {
  background-color: var(--table-color);
}

.table__quotations-body-response .tbody__container:nth-child(odd) {
  background-color: var(--two-table-color);
}

.table__quotations-body-response .tbody__container:first-child {
  border-top: 2px solid var(--border-table-color);
}

.table__quotations-body-response .tbody__container:last-child {
  border-bottom: none;
  border-radius: 0 0 20px 20px;
} */


.table__quotations-body-response .table__body .tbody {
  display: flex;
}

.table__quotations-body-response .table__body .tbody {
  display: grid;
  grid-template-columns: 100px repeat(6, minmax(0, 1fr));
  padding: 10px;
  column-gap: 20px;
  align-items: center;

}

.table__quotations-body-response .table__body .tbody .td {
  display: flex;
  
}

.table__quotations-body-response .table__body .tbody .td > .by-user {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  color: #5c6c85;
  font-weight: 500;
}



.table__quotations-body-response .table__body .tbody .td > .folio-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #3d86c62c;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight:600;
  /* outline: 2px solid var(--primary-100); */
  color: var(--primary-100);
}

.table__quotations-body-response .table__body .tbody .total-mobile {
  display: grid;
  justify-content: end;
  align-items: center;
  grid-column: 1 / 3;

  /* padding: 5px 10px;
  background-color: #ff6e611f;
  border-radius: 5px;
  font-weight:600;

  color: var(--accent-300); */
}

.table__quotations-body-response .table__body .tbody .total-mobile > .total__mobile_container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}


.table__quotations-body-response .table__body .tbody .total-mobile > .total__mobile_container .total_mobile {

  /* background-color: #ff6e611f; */
  border-radius: 5px;
  font-weight:600;
  font-size: 1.5rem;
  color: var(--accent-300);
}




.table__quotations-body-response .table__body .tbody .td.delete {
  display: flex;
  justify-content: end;
}

.table__quotations-body-response .table__body .tbody .td .inputs__general {
  margin-top: 0;
}

/* .table__quotations-body-response .table__body .tbody:hover {
  background-color: var(--table-hover-color);
  color: #fff;
} */

.table__quotations-body-response .table__body .tbody:hover .td > .folio {
  background-color: #3d86c6;
  color: #ffffff;
}

.table__quotations-body-response .table__body .tbody:hover .td > .total {
  background-color: #f55041;
  color: #ffffff;
}


.table__quotations-body-response {
  display: none;
}



@media screen and (max-width: 768px) {

  .table__quotations-body-desk {
    display: none;
  }

  .table__quotations-body-response {
    display: block;
  }
  

  .container__quotation {
    display: block;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0px;
    }
  
    &::-webkit-scrollbar-thumb {
      /* background-color: var(--primary-color);
      border-radius: 5px;
      height: 100px; */
    }
  
    &::-webkit-scrollbar-track {
      /* Para modificar el background */
    }
  }



  .container__quotation > .filter__container > .row__two {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
  }

  .container__quotation > .filter__container > .row__three {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .table__quotations-head .table__head {
    display: none;
  }
  
  .table__quotations-body-response {
    border: none;
  }

  .table__quotations-head .content__table {
    border: none;
    border-bottom: none;
  }

  .table__quotations-body {
    height: auto;
  }

  .table__quotations-body-response .table__body .tbody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    align-items: center;  /* Alinea verticalmente los elementos */
    flex-wrap: wrap;      /* Permite que los elementos pasen a otra línea si no caben */
    gap: 10px;   
  }
  
  
  
}