.sales__order {
    height: 90vh;
	padding: 20px;
}


.sales__order_container {
	display: grid;
	grid-template-rows: auto auto auto 1fr;
    height: 100%;
	background-color: var(--main-card-color);
	padding: 20px ;
	border-radius: 10px;
    overflow: hidden;
}

.sales__order_container > div {
	width: 100%;
}