.sales__order {
    height: 90vh;
	padding: 20px;
}


.sales__order_container {
    height: 100%;
	background-color: var(--background-sections);
	padding: 20px ;
	border-radius: 10px;
    overflow: hidden;
}