.conatiner__create_sale-card {
    display: grid;
    height: 100%;
    overflow: auto;

	border-top: none;

	overflow-y: auto;
	transition-delay: 0.0s;

	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--primary-color);
		border-radius: 5px;
		height: 100px;
	}

	&::-webkit-scrollbar-track {
		/* Para modificar el background */
	}
}


.conatiner__create_sale-card > .row__one {
    display: flex;
    margin: 20px 0;
    align-items: center;
    gap: 20px;

}


.conatiner__create_sale-card > .row__one > .code {
    color: var(--text-white);
    font-weight: 600;
    margin-right: 50px;
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 5px;
}


.conatiner__create_sale-card > .row__one > .name {
    color: #e9e9e9;
    padding: 10px;
    /* background-color: #d0342c1a; */
    border-radius: 5px;
}


.conatiner__create_sale-card > .row__two {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    gap: 20px;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}

.conatiner__create_sale-card > .row__two > .row__one {
   
}


.search__sale-card {
  padding: 7px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-100);
  color: #fff;
  cursor: pointer;
} 



.conatiner__create_sale-card > .row__two > .row__one .row__one{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
}

.conatiner__create_sale-card > .row__two > .row__one .row__two {
  padding: 20px;
	background-color: var(--cards-background);
	border-radius: var(--general-card-border);
}

.conatiner__create_sale-card > .row__two > .row__one .row__two > .title {
    display: flex;
    
}
.conatiner__create_sale-card > .row__two > .row__one .row__two > .title > p {

    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
    color: #3081c9;
    background-color: #3082c94b;
    margin-bottom: 10px;
    
}

.conatiner__create_sale-card > .row__two > .row__one .row__two > .tab__fields {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
}



.conatiner__create_sale-card > .row__two > .row__one .row__three  {
    padding: 20px;
	background-color: var(--cards-background);
	border-radius: var(--general-card-border);
    margin-top: 20px;
}

.conatiner__create_sale-card > .row__two > .row__one .row__three > .title {
  display: flex;
}

.conatiner__create_sale-card > .row__two > .row__one .row__three > .title > p {
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
    color: #3081c9;
    background-color: #3082c94b;
    margin-bottom: 10px;
  }

.conatiner__create_sale-card > .row__two > .row__one .row__three > .template__fields {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
    
}





.result__template__fields  .price_x_unit {
  display: flex;
}


.result__template__fields  .price_x_unit > div {
  display: flex;
  background-color: #3082c9;
  color: #ffffff;
  font-weight: 600;
  border-radius: 5px;
  padding: 5px 10px;
}








.conatiner__create_sale-card > .row__three > .row__four {
    display: flex;
    margin: 20px 0;
    justify-content: end;
    
}

.conatiner__create_sale-card > .row__three > .row__four .price_x_unit {
  border: 2px solid #3081c9;
  border-radius: 5px;
  margin-right: 20px;
    
}

.conatiner__create_sale-card > .row__three > .row__four > div {
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.conatiner__create_sale-card > .row__three > .row__four > div .title__price_x_unit {
  padding: 5px 10px;
  background-color: #3081c9;
  color: var(--text-white);


}

.conatiner__create_sale-card > .row__three > .row__four > div .result__price_x_unit {
    padding: 5px 10px;
    border-radius: 5px;
 
}


.conatiner__create_sale-card > .row__three > .row__four > .total__price {
  border: 2px solid #bf6903;
  border-radius: 5px;
}



.conatiner__create_sale-card > .row__three > .row__four > div .title__total-price {
  padding: 5px 10px;
  background-color: var(--orange-color);
  color: var(--text-white);
}

.conatiner__create_sale-card > .row__three > .row__four > div .result__total-price {
    padding: 5px 10px;
    border-radius: 5px; 
}




.conatiner__create_sale-card > .row__three > .row__five {
    display: flex;
    justify-content: center;
}

.conatiner__create_sale-card > .row__three > .row__five > .row__one {
   
   
}
  

.conatiner__create_sale-card > .row__three > .row__five > .row__two {
    display: flex;
    justify-content: center;
    gap: 20px;
   
}
  
  

.conatiner__create_sale-card > .row__three > .row__five > .row__two .add__quotation {
  color: #ffffff;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: var(--border-radius-general);
  background-color: rgb(12, 36, 60);
  transition: all 100ms;
}


.conatiner__create_sale-card > .row__three > .row__five > .row__two .add__quotation_one {
  color: rgb(12, 36, 60);
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: var(--border-radius-general);
  background-color: #fff;
  border: 2px solid rgb(12, 36, 60);
  transition: all 100ms;
}


.conatiner__create_sale-card > .row__three > .row__five > .row__two .add__quotation:hover {
    transform: scale(1.05);
    transition: all 500ms;
  
}

.conatiner__create_sale-card > .row__three > .row__five > .row__two .add__quotation:active {
    transform: scale(0.90);
    transition: all 100ms;
  
}


.conatiner__create_sale-card > .row__three > .row__five > .row__two .add__cart {
    color: #ffffff;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: var(--border-radius-general);
    background-color: rgb(12, 36, 60);
    transition: all 100ms;
}

.conatiner__create_sale-card > .row__three > .row__five > .row__two .add__cart:hover {
    transition: all 500ms;
    transform: scale(1.05);
    /* background-color: var(--primary-color);
    color: var(--text-white); */

  
}

.conatiner__create_sale-card > .row__three > .row__five > .row__two .add__cart:active {
    transform: scale(0.90);
    transition: all 100ms;
}

.conatiner__create_sale-card > .row__three > .row__five > .row__two .quotation {
    margin-right: 30px;
    
}

.conatiner__create_sale-card > .row__three {
    /* display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 20px;
     */
}


.conatiner__create_sale-card > .row__three   {
    margin-right: 20px;
    
}


.conatiner__create_sale-card > .row__three > button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: var(--border-radius-general);
    background-color: #6944b43b;
    color: #9c6affcc;
    font-weight: 600;
}

.conatiner__create_sale-card > .row__three > button > svg {
    margin-left: 10px;
}

/* .conatiner__create_sale-card > .row__three > .price {
    background-color: #223b4d;
    color: #15877b;
   
}

.conatiner__create_sale-card > .row__three > .stock {
    background-color: #5a3a2654;
    color: #613d27;
}

.conatiner__create_sale-card > .row__three > .arrive {
    background-color: #3e2844;
    color: #8d2e4a;
}

.conatiner__create_sale-card > .row__three > .indications {
    background-color: #ab896562;
    color: #AB8965;
}

.conatiner__create_sale-card > .row__three > .time {
    background-color: #d8cb1883;
    color: #ceb31b;
}


.conatiner__create_sale-card > .row__three > .components {
    border: 2px solid #2146ebc9;
    background-color: #3e2844;
    color: #2146eb;
}
 */





.card__images_container {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.card__images_container .images__card-sale__container {
  height: 350px;
} 


.card__images_container .images__card-sale__container  .images__container  {
  width: 100%;
  height: 350px;

}
.card__images_container .images__card-sale__container .swiper-pagination  {
  position: absolute;
  bottom: 12px;
  z-index: 1;

}

.swiper-button-prev, 
.swiper-button-next {
  background-color: var(--primary-color);
  top: 330px !important;
  width: 35px !important; 
  height: 35px !important;
  transition: opacity 0.3s ease;
  background-color: var(--cards-background);
  border-radius: 5px;
  color: var(--text-color);
  z-index: 10;
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-button-prev:hover, 
.swiper-button-next:hover {
  opacity: 1; /* Cambia la opacidad cuando el mouse está encima */
}

.swiper-button-prev::after, 
.swiper-button-next::after {
 font-size: 16px !important;
}


.card__images_container  .images__container  .images {
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.card__images_container  .images__container  .buttons-sale-card {
  width: 100%;
  height: 30px;
}




.card__images_container > .images-pulse-card {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-color: var(--cards-background);
    animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}


   
   @keyframes pulse {
     0%, 100% {
       opacity: 1;
     }
     50% {
       opacity: 0.4;
     }
   }


.card__images_container > .row__one {
    margin: 20px 0;
    margin-top: 0;

}

.card__images_container > .row__one > .code {
    display: flex;
}
.card__images_container > .row__one > .code > p {
    /* padding: 5px;
    border-radius: 5px;
    background-color: #3081c9; */
    margin-top: 10px;
    color: var(--text-color-ligth);
    font-weight: 500;
    
}


.card__images_container > .row__one > .description {
   

}

.card__images_container > .row__one > .description > p {
   font-weight: 600;
   font-size: 16px;
   color: var(--text-color);

}




.card__images_container > .row__two {
    display: flex;
    column-gap: 20px;
    margin-top: 10px;
 

}

.card__images_container > .row__two > div {
    
}

.card__images_container > .row__two > div > button {
    display: flex;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #3d86c62a;
    color: #3081c9;
    cursor: pointer;
}

.card__images_container > .row__two > div > button:hover {
    display: flex;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #3d86c6;
    color: #ffffff;
    cursor: pointer;
}

.card__images_container > .row__three {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    margin-top: 20px;
}

.card__images_container > .row__three > div {
    display: flex;
    padding: 5px;
}

.card__images_container > .row__three > div > svg {
    margin-right: 5px;
}

.card__images_container > .row__three  > .desabasto {
    padding: 5px;
    border-radius: 5px;
    color: rgb(153, 27, 27);
    background-color: rgba(153, 27, 27, 0.151);
    font-weight: 500;

}

.card__images_container > .row__three > .ultima-piezas {

  padding: 5px;
  border-radius: 5px;
  background-color:  #f9a82538;
  color:  #d88909;
  font-weight: 500;
  
}

.card__images_container > .row__three > .bajo-pedido  {
    padding: 5px;
    border-radius: 5px;
    background-color: #3d86c636;
    color: #126fc0;
    font-weight: 500;
    
}

.card__images_container > .row__three > .vender-sin-stock {
    padding: 5px;
    border-radius: 5px;
    background-color:  rgba(22, 101, 52, 0.192);
    color:  rgb(22 101 52);
    font-weight: 500;
 
}

.btn__sale__card-tooltip-container {
	position: relative;
	display: inline-block;
  }
  
  .btn__sale__card-tooltip-container > .sale__card-tooltip-text {
	visibility: hidden;
	background-color: #126fc0;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	padding: 5px;
	position: absolute;
	z-index: 0;
	bottom: 125%; /* Ajustar según la posición del botón */
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.3s;
  }
  
  .btn__sale__card-tooltip-container:hover .sale__card-tooltip-text {
	visibility: visible;
	opacity: 1;
  }
  



 /*************************************************************
                    Modal de crear sucursales
 **************************************************************/


  
 .overlay__sale-card {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay__sale-card.active {
	visibility: visible;
}

.popup__sale-card {
	background-color: var(--background-modal);
	border-radius: 5px;
	padding: 20px;
	width: 95vw;
  max-width: 1450px;
	height: 95vh;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
  overflow: visible;
}

.popup__sale-card .btn-cerrar-popup__sale-card {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 30px;
    top: 10px;
}

.popup__sale-card .header__modal {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
}



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__sale-card.active {	transform: scale(1); opacity: 1; }



.conatiner__create_sale-card .combinaciones {
    display: flex;
    gap: 20px;
    position: relative;
    margin-bottom: 20px;
}

.conatiner__create_sale-card .combinaciones > .combinaciones__container {
   
}

.conatiner__create_sale-card .combinaciones > .combinaciones__container > .container__combination {
   padding: 5px;
   border-radius: 5px;
   background-color: #a3a3a3;
   color: #f3f3f3;
}

/* .conatiner__create_sale-card .combinaciones > .combinaciones__container > div svg {
    padding: 5px;
    border-radius: 5px;
    background-color: #3081c9;
 } */

.conatiner__create_sale-card .combinaciones .option {
    background-color: var(--orange-color);
    padding: 10px;
    border-radius: 5px;
    color: var(--text-white);
    cursor: pointer;

}


.conatiner__create_sale-card > .row__one  .option {
    background-color: var(--orange-color);
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text-white);

}
.btn-buscar {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-buscar:hover {
  background-color: #0056b3;
}


.conatiner__create_sale-card .combination_options {
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    min-height: 100px;
    min-width: 400px;
    max-width: 800px;
    background-color: #fff;
    border: 2px solid var(--border-table-color);
    z-index: 2;
    margin-top: 10px;
}

.conatiner__create_sale-card .combination_options > div {
    display: flex;
}


.conatiner__create_sale-card .combination_options  p {
    padding: 10px;
    border-radius: 5px;
    color: var(--text-white);
    background-color: var(--primary-color);
}










.card-sale__pulse__tab-fields {
	border: 2px solid #f3f3f3; 
    border-radius: 10px;
    padding: 20px; 
    width: 100%;
    margin: 0 auto;
  }
  
  .card-sale__pulse__tab-fields .animate-pulse {
   /* Espaciado entre los elementos */
    animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite; /* Efecto de animación */
  }
  
  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
  }
  
  /* .rounded-full {
    border-radius: 9999px; 
    background-color: #374151;
    height: 40px;
    width: 40px; 
  }
   */
   .card-sale__pulse__tab-fields .row__p-one {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .card-sale__pulse__tab-fields .row__p-one > div {
    background-color: var(--cards-background);
    height: 35px;
    border-radius: 5px;
 
  }
  
  .card-sale__pulse__tab-fields .row__p-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
  }

  .card-sale__pulse__tab-fields .row__p-two > div {
    background-color: var(--cards-background);
    height: 60px;
    border-radius: 5px;
  }
  






  
.card-sale__pulse__template__fields {
	border: 2px solid #f3f3f3; 
    border-radius: 10px;
    padding: 20px; 
    width: 100%;
    margin-top: 20px;
  }
  
  .card-sale__pulse__template__fields .animate-pulse {
   /* Espaciado entre los elementos */
    animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite; /* Efecto de animación */
  }
  
  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
  }
  
  /* .rounded-full {
    border-radius: 9999px; 
    background-color: #374151;
    height: 40px;
    width: 40px; 
  }
   */
   .card-sale__pulse__template__fields .row__p-one {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .card-sale__pulse__template__fields .row__p-one > div {
    background-color: var(--cards-background);
    height: 35px;
    border-radius: 5px;
 
  }
  
  .card-sale__pulse__template__fields .row__p-two {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-top: 20px;
  }

  .card-sale__pulse__template__fields .row__p-two > div {
    background-color: var(--cards-background);
    height: 60px;
    border-radius: 5px;
  }








  .card-sale__pulse__combinations {
	border: 2px solid #f3f3f3; 
    border-radius: 10px;
    padding: 10px; 
    width: 100%;
    margin-bottom: 20px;
  }
  
  .card-sale__pulse__combinations .animate-pulse {
   /* Espaciado entre los elementos */
    animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite; /* Efecto de animación */
  }
  
  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
  }
   .card-sale__pulse__combinations .row__p-one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .card-sale__pulse__combinations .row__p-one > div {
    background-color: var(--cards-background);
    height: 35px;
    border-radius: 5px;
 
  }
  


  .card-sale__pulse__code {
	border: 2px solid #f3f3f3; 
    border-radius: 10px;
    padding: 10px; 
    width: 100%;
    margin: 20px 0;
  }
  
  .card-sale__pulse__code .animate-pulse {
   /* Espaciado entre los elementos */
    animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite; /* Efecto de animación */
  }
  
  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
  }
   .card-sale__pulse__code .row__p-one {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  .card-sale__pulse__code .row__p-one > div {
    background-color: var(--cards-background);
    height: 30px;
    border-radius: 5px;
  }








  .card-sale__pulse__labels {
	border: 2px solid #f3f3f3; 
    border-radius: 10px;
    padding: 20px; 
    width: 100%;
    margin-top: 20px;
  }
  
  .card-sale__pulse__labels .animate-pulse {
   /* Espaciado entre los elementos */
    animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite; /* Efecto de animación */
  }
  
  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
  }
  
   .card-sale__pulse__labels .row__p-one {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .card-sale__pulse__labels .row__p-one > div {
    background-color: var(--cards-background);
    height: 35px;
    border-radius: 5px;
 
  }
  
  .card-sale__pulse__labels .row__p-two {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-top: 20px;
  }

  .card-sale__pulse__labels .row__p-two > div {
    background-color: var(--cards-background);
    height: 50px;
    border-radius: 5px;
  }








  
  .card-sale__template__values {
	border: 2px solid #f3f3f3; 
    border-radius: 10px;
    padding: 20px; 
    width: 100%;
    margin-top: 20px;
  }
  
  .card-sale__template__values .animate-pulse {
    animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  
  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
  }
  
  .card-sale__template__values .row__p-two {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .card-sale__template__values .row__p-two > div {
    background-color: var(--cards-background);
    height: 50px;
    border-radius: 5px;
  }











  
  .card-sale__pulse__buttons {
	border: 2px solid #f3f3f3; 
    border-radius: 10px;
    padding: 20px; 
    width: 100%;
    margin-top: 20px;
  }
  
  .card-sale__pulse__buttons .animate-pulse {
    animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  
  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
  }

  
  .card-sale__pulse__buttons .row__p-two {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }

  .card-sale__pulse__buttons .row__p-two > div {
    background-color: var(--cards-background);
    height: 50px;
    border-radius: 5px;
  }























  

/*************************************************************
                    Tabla de Entradas
 **************************************************************/

.table__sale-card-additional {
	display: grid;
	overflow: hidden;
	grid-template-rows: repeat(2, auto) 1fr;
  margin-top: 20px;

}


.table__sale-card-additional .table__head {
	display: flex;
	width: 100%;
	background-color: var(--table-color);
	color: var(--text-table-color);

}

.table__sale-card-additional .table__head .thead {
	display: flex;
	width: 100%;
	border: 2px solid var(--border-table-color);
	border-bottom: none;
	border-radius: 10px 10px 0 0;
}

.table__sale-card-additional .table__head .thead {
	display: grid;
	grid-template-columns: 2fr repeat(4, 1fr);
	padding: 5px;
	font-weight: 600;
}

.table__sale-card-additional .table__body {
	border: 2px solid var(--border-table-color);
	border-top: none;

	overflow-y: auto;
	transition-delay: 0.0s;

	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--primary-color);
		border-radius: 5px;
		height: 100px;
	}

	&::-webkit-scrollbar-track {
		/* Para modificar el background */
	}
}

.table__sale-card-additional .tbody__container {
	border-top: 2px solid var(--border-table-color);
}

.table__sale-card-additional .tbody__container:nth-child(even) {
	background-color: var(--table-color);
}

.table__sale-card-additional .tbody__container:nth-child(odd) {
	background-color: var(--two-table-color);
}

.table__sale-card-additional .tbody__container:first-child {
	border-top: 2px solid var(--border-table-color);
}

.table__sale-card-additional .tbody__container:last-child {
	border-bottom: none;
	border-radius: 0 0 20px 20px;
}


.table__sale-card-additional .table__body .tbody {
	display: flex;
}

.table__sale-card-additional .table__body .tbody {
	display: grid;
	grid-template-columns: 2fr repeat(4, 1fr);
	padding: 10px;
}

.table__sale-card-additional .table__body .tbody .td {
	display: flex;
}

.table__sale-card-additional .table__body .tbody .td .addicional {
	display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #3d86c62c;
  border-radius: 5px;
  font-weight: 600;
  /* outline: 2px solid var(--primary-100); */
  color: var(--primary-100);
}


.table__sale-card-additional .table__body .tbody .td .addicional {
	display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #3d86c62c;
  border-radius: 5px;
  font-weight: 600;
  /* outline: 2px solid var(--primary-100); */
  color: var(--primary-100);
}

.table__sale-card-additional .table__body .tbody .td .amount {
	display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #ff91001f;
  border-radius: 5px;
  font-weight: 600;
    /* outline: 2px solid var(--primary-100); */
  color: #FF8F00;
}


.table__sale-card-additional .table__body .tbody .td .price {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  font-weight: 600;
  color: #5c6c85;
}

.table__sale-card-additional .table__body .tbody .td .discount {
	display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #ff52523a;
  border-radius: 5px;
  font-weight: 600;
  color: #FF5252;
}

.table__sale-card-additional .table__body .tbody .td .price_total {
	display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #5e35b031;
  border-radius: 5px;
  font-weight: 600;
  /* outline: 2px solid var(--primary-100); */
  color: #6e34e2;
}