  
.overlay__quotations__modal {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
    z-index: 1;
}

.overlay__quotations__modal.active {
	visibility: visible;
}

.popup__quotations__modal {
	background-color: var(--background-modal);
	border-radius: 5px;
	padding: 20px;
	width: 90%;
	height: 95%;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup__quotations__modal .btn-cerrar-popup__quotations__modal {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 15px;
    top: 15px;
}



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__quotations__modal.active {	transform: scale(1); opacity: 1; }



 /*************************************************************
                    Tabla de Entradas
 **************************************************************/

 .table__quotations_clients_modal {
    border-radius: 10px;
    display: grid;
    max-height: 300px;
}


.table__quotations_clients_modal .table__head {
    display: flex;
    width: 100%;
    background-color: var(--table-color);
	color: var(--text-table-color);
    border-radius: 5px 5px 0 0;
}

.table__quotations_clients_modal .table__head .thead {
   display: flex;
   width: 100%;
}

.table__quotations_clients_modal .table__head .thead {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 100px 100px;
    padding: 10px;
    font-weight: 600;
}

.table__quotations_clients_modal .table__body {
	height: 100%;
    overflow-y: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1F319D; 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}




.table__quotations_clients_modal .tbody__container:nth-child(even) {
    background-color: var(--table-color);
	color: var(--text-table-color);
}
  
.table__quotations_clients_modal .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
	color: var(--text-table-color);
}



.table__quotations_clients_modal .table__body .tbody {
    display: flex;
}

.table__quotations_clients_modal .table__body .tbody.personalized {
    background-color: var(--orange-color);
}

.table__quotations_clients_modal .table__body .tbody {
    display: grid;
	grid-template-columns: repeat(3, 1fr) 100px 100px;
    padding: 10px;

}

.table__quotations_clients_modal .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}
