.quotations__modal {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    height: 100%;
}

/*///////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////// ROW ONE ///////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////// */

.quotations__modal>.row__one {}


.quotations__modal>.row__one .row__bts {
    display: flex;
    justify-content: space-between;
}




/*///////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////// ROW TWO ///////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////// */

.quotations__modal>.row__two {
    overflow: auto;
    margin: 20px 0;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color);
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {}
}


.quotations__modal>.row__two>.row__one {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    margin-top: 20px;
    padding: 20px;
    background-color: var(--cards-background);
    border-radius: var(--general-card-border);
}

.quotations__modal>.row__two>.row__two .title {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
}

.quotations__modal>.row__two>.row__three {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto auto auto;
    column-gap: 20px;
    background-color: var(--cards-background);
    padding: 20px;
    border-radius: var(--general-card-border);
    margin-top: 20px;
}

.quotations__modal>.row__two .row__three .search-icon {
    background-color: var(--primary-color);
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.popup__quotations__modal .row__three .search-icon>svg {
    display: flex;
    color: #ffffff;
}



/*///////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////// ROW THREE ///////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////// */


.quotations__modal .row__three {}


.quotations__modal .row__three>.btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.quotations__modal .row__three .btns>div {
    display: flex;
    align-items: center;
}

.quotations__modal .row__three .btns>.subtotal>div {
    display: flex;
    border: 2px solid #3d86c633;
    border-radius: 5px;

}

.quotations__modal .row__three .btns>.discount>div {
    display: flex;
    border: 2px solid #ff52522f;
    border-radius: 5px;

}

.quotations__modal .row__three .btns>.urgency>div {
    display: flex;
    border: 2px solid #ff910031;
    border-radius: 5px;

}

.quotations__modal .row__three .btns>.total>div {
    display: flex;
    border: 2px solid #5e35b038;
    border-radius: 5px;

}

.quotations__modal .row__three .btns>.subtotal>div>.name {
    background-color: #3d86c633;
    color: #3d86c6;
    font-weight: 600;
}

.quotations__modal .row__three .btns>.discount>div>.name {
    background-color: #ff52522f;
    color: #FF5252;
    font-weight: 600;
}


.quotations__modal .row__three .btns>.urgency>div>.name {
    background-color: #ff910031;
    color: #FF8F00;
    font-weight: 600;
}

.quotations__modal .row__three .btns>.total>div>.name {
    background-color: #5e35b038;
    color: #5d35b0;
    font-weight: 600;
}


.quotations__modal .row__three .btns>div>div>.name {
    color: #fff;
    padding: 5px 10px 5px 5px;
}


.quotations__modal .row__three .btns>div>div>.value {
    padding: 5px;
}






/*///////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////// ROW FOUR ///////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////// */













/*=================================================
 
  Modal de precios del modal del articulo 
  
=================================================*/


.overlay__quotations__modal {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
    z-index: 10;
}

.overlay__quotations__modal.active {
    visibility: visible;
}

.overlay__quotations__modal .header__modal {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
}

.popup__quotations__modal {
    background-color: var(--background-modal);
    border-radius: 5px;
    padding: 40px 20px 20px 20px;
    width: 95vw;
    max-width: 1450px;
    height: 95vh;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
    overflow: hidden;

}

.popup__quotations__modal .btn-cerrar-popup__quotations__modal {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: .3s ease all;
    color: #BBBBBB;
    position: absolute;
    right: 30px;
    top: 10px;
}


/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__quotations__modal.active {
    transform: scale(1);
    opacity: 1;
}






/*************************************************************
                    Tabla de Entradas
 **************************************************************/

.table__quotations_modal {
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    height: auto;
    overflow: hidden;
    border: 2px solid var(--border-table-color);
}



.table__quotations_modal .table__head {
    display: flex;
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-color: var(--table-header-color);
}

.table__quotations_modal .table__head .thead {
    display: flex;
    width: 100%;
}

.table__quotations_modal .table__head .thead {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr 50px 100px 100px;
    padding: 10px;
    font-weight: 600;
    column-gap: 20px;
}

.table__quotations_modal .table__body {
    height: 100%;
    overflow-y: auto;
    max-height: 500px;
    transition-delay: 0.0s;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color);
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {}
}

.table__quotations_modal .tbody__container {
    border-top: 2px solid var(--border-table-color);
}

.table__quotations_modal .tbody__container:nth-child(even) {
    background-color: var(--table-color);
}

.table__quotations_modal .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
}

.table__quotations_modal .tbody__container:first-child {
    border-top: 2px solid var(--border-table-color);
}

.table__quotations_modal .tbody__container:last-child {
    border-bottom: none;
    border-radius: 0 0 20px 20px;
}




.table__quotations_modal .table__body .tbody {
    display: flex;
}

.table__quotations_modal .table__body .tbody.personalized {
    border: 2px solid var(--primary-color);
}

.table__quotations_modal .table__body .tbody {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr 50px 100px 100px;
    padding: 10px;
    column-gap: 20px;

}


.table__quotations_modal .table__body .tbody>.td {
    display: flex;
    align-items: center;
}

.table__quotations_modal .table__body .tbody>.td .article {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: #3d86c62c;
    border-radius: 5px;
    font-weight: 600;
    /* outline: 2px solid var(--primary-100); */
    color: var(--primary-100);
}

.table__quotations_modal .table__body .tbody>.td .amount {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: #ff91001f;
    border-radius: 5px;
    font-weight: 600;
    /* outline: 2px solid var(--primary-100); */
    color: #FF8F00;


}

.table__quotations_modal .table__body .tbody>.td .total {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Permite que los hijos se ajusten en varias líneas */

    align-items: center;
    padding: 5px 10px;
    background-color: #5e35b031;
    border-radius: 5px;
    font-weight: 600;
    /* outline: 2px solid var(--primary-100); */
    color: #6e34e2;
    white-space: normal;
    line-height: 1.5;
}

.table__quotations_modal .table__body .tbody>.td .total__franch {
    display: inline-block;
    /* Forzar que se trate como un bloque en línea */
    margin-top: 4px;
    /* Añadir un pequeño margen superior */
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: #6e34e2fd;
    border-radius: 5px;
    font-weight: 600;
    color: #ffffff;

}

.table__quotations_modal .table__body .tbody .td .see-concepts {
    margin-left: 15px;
}


.table__quotations_modal .table__body .tbody>.td>.container__total {
    display: flex;
    align-items: center;
}

.table__quotations_modal .table__body .tbody>.td .urgency {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: #ff91001f;
    border-radius: 5px;
    font-weight: 600;
    /* outline: 2px solid var(--primary-100); */
    color: #FF8F00;
    margin-left: 10px;
}

.table__quotations_modal .table__body .tbody>.td .remove__urgency {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: #d32f2f27;
    border-radius: 5px;
    font-weight: 600;
    /* outline: 2px solid var(--primary-100); */
    color: #D32F2F;
    margin-left: 10px;
}





.table__quotations_modal .table__body .tbody>.td.urgency .yes-urgency>svg {
    color: #FF8F00;
}

.table__quotations_modal .table__body .tbody>.td.urgency .no-urgency>svg {
    color: #D32F2F;
}

.table__quotations_modal .table__body .tbody>.td .inputs__general {
    margin-top: 0;
}


.table__quotations_modal .table__body .tbody>.td .add_urgency {
    background-color: var(--orange-color);
    border-radius: 5px;
    color: #fff;
    padding: 3px 0;
    border: none;
    cursor: pointer;
}



.table__quotations_modal .table__body .tbody:hover {
    background-color: var(--table-hover-color);
    color: #fff;
}


.table__quotations_modal .table__body .tbody:hover .td>.article {
    background-color: #3d86c6;
    color: #ffffff;
}

.table__quotations_modal .table__body .tbody:hover .td>.amount {
    background-color: #FF8F00;
    color: #ffffff;
}

.table__quotations_modal .table__body .tbody:hover .td .total {
    background-color:#6e34e2;
    color: #ffffff;
}


/* .table__quotations_modal .table__body .tbody:hover .td .yes-urgency {
    background-color: #FF8F00;
}

.table__quotations_modal .table__body .tbody:hover .td .no-urgency {
    background-color: #D32F2F;
}

.table__quotations_modal .table__body .tbody:hover .td .yes-urgency svg {
    color: #ffffff;
}

.table__quotations_modal .table__body .tbody:hover .td .no-urgency svg {
    color: #ffffff;
} */






.modal-create-quotations__tooltip-text.no-urgency {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #d32f2f27;
}

.modal-create-quotations__tooltip-text.yes-urgency {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ff91002f;
}








.concept__personalized {
    display: flex;
}

.concept__personalized>p {
    padding: 5px;
    background-color: var(--primary-color);
    border-radius: 5px 5px 0 0;
    color: #fff;
}


.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 0;
    bottom: 125%;
    /* Ajustar según la posición del botón */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}