.by-order__warehouse-exit {

}

.by-order__warehouse-exit > div {
    margin: 30px 0;
}


.by-order__warehouse-exit .row__one {
    display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr)) auto;
    column-gap: 10px;
    row-gap: 20px;
    text-align: justify;
    align-items: end;
}

.by-order__warehouse-exit .row__two {
    width: 80%;
    margin: auto;
    display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr)) auto;
    column-gap: 10px;
    row-gap: 20px;
    text-align: justify;
    align-items: end;
}


.by-order__warehouse-exit .row__three {
    display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr)) auto;
    column-gap: 10px;
    row-gap: 20px;
    text-align: justify;
    align-items: end;
}











.table__modal_filter_orders {
    border-radius: 10px;
    display: grid;
    height: 100%;
    grid-template-rows: repeat(2, auto) 1fr;

}


.table__modal_filter_orders .table__head {
    display: flex;
    width: 100%;
    background-color: var(--table-color);
	color: var(--text-table-color);
    border-radius: 5px 5px 0 0;
}

.table__modal_filter_orders .table__head .thead {
   display: flex;
   width: 100%;
}

.table__modal_filter_orders .table__head .thead {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    font-weight: 600;
}

.table__modal_filter_orders .table__body {
	height: 100%;
    overflow-y: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}


.table__modal_filter_orders .tbody__container:nth-child(even) {
    background-color: var(--table-color);
	color: var(--text-table-color);
  }
  
.table__modal_filter_orders .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
	color: var(--text-table-color);
  }

.table__modal_filter_orders .table__body .tbody {
    display: flex;
}

.table__modal_filter_orders .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
}

.table__modal_filter_orders .table__body .tbody > .end {
    display: flex;
    justify-content: end;
}

.table__modal_filter_orders .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}







.table__modal_filter-stocks_tickets {
    border-radius: 10px;
    display: grid;
    height: 100%;
    grid-template-rows: repeat(2, auto) 1fr;

}


.table__modal_filter-stocks_tickets .table__head {
    display: flex;
    width: 100%;
    background-color: var(--table-color);
	color: var(--text-table-color);
    border-radius: 5px 5px 0 0;
}

.table__modal_filter-stocks_tickets .table__head .thead {
   display: flex;
   width: 100%;
}

.table__modal_filter-stocks_tickets .table__head .thead {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px;
    font-weight: 600;
}

.table__modal_filter-stocks_tickets .table__body {
    overflow-y: auto;
    transition-delay: 0.0s;
    max-height: 200px;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}


.table__modal_filter-stocks_tickets .tbody__container:nth-child(even) {
    background-color: var(--table-color);
	color: var(--text-table-color);
  }
  
.table__modal_filter-stocks_tickets .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
	color: var(--text-table-color);
  }

.table__modal_filter-stocks_tickets .table__body .tbody {
    display: flex;
}

.table__modal_filter-stocks_tickets .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px;

}

.table__modal_filter-stocks_tickets .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}




 /*************************************************************
                    Modal de filtrado de pedido
 **************************************************************/

  
 .overlay__modal-filter_concepts_departures {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
	z-index: 1;
}

.overlay__modal-filter_concepts_departures.active {
	visibility: visible;
}

.popup__modal-filter_concepts_departures {
	background-color: var(--background-modal);
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	width: 80%;
    max-height: 95%;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}

.popup__modal-filter_concepts_departures .btn-cerrar-popup__modal-filter_concepts_departures  {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 15px;
    top: 15px;
}



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__modal-filter_concepts_departures.active {	transform: scale(1); opacity: 1; }