
.conatiner__create_modal_type-payment > .row__one {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 20px;
	align-items: end;
}
.conatiner__create_modal_type-payment > .row__two {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 20px;
}


 /*************************************************************
                    Modal de updates sucursales
 **************************************************************/
  
 .overlay__create_modal_type-payment {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay__create_modal_type-payment.active {
	visibility: visible;
}

.popup__create_modal_type-payment {
	background-color: var(--background-modal);
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	width: 70%;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup__create_modal_type-payment .btn-cerrar-popup__create_modal_type-payment {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 15px;
    top: 15px;
}



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__create_modal_type-payment.active {	transform: scale(1); opacity: 1; }
