.article__modal_branch-offices_save_modal_container {
	display: block;
}

.article__modal_branch-offices_save_modal_container .row__one .row__one {
	display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
	margin: 20px 0;
    gap: 10px;
	align-items: end;
}

.article__modal_branch-offices_save_modal_container .row__two {
	display: grid;
    grid-template-columns: 1fr 150px 100px;
	margin: 20px 0;
    gap: 10px;
	align-items: end;
}









.overlay__modal_branch-offices_creating_articles .table__branch-offices {
    margin-top: 20px;
    border-radius: 10px;
	text-align: justify;
}

.overlay__modal_branch-offices_creating_articles .table__branch-offices .table {
    border: 2px solid var(--border-table-color);
	border-radius: 20px;
}

.overlay__modal_branch-offices_creating_articles .table__branch-offices .table__head {
    display: flex;
    width: 100%;
	border-radius: 20px 20px 0 0;
    background-color: var(--table-header-color);
	border-bottom: 2px solid var(--border-table-color);

}

.overlay__modal_branch-offices_creating_articles .table__branch-offices .table__head .thead {
   display: flex;
   width: 100%;
}

.overlay__modal_branch-offices_creating_articles .table__branch-offices .table__head .thead {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 100px;
    padding: 10px;
    font-weight: 600;
}

.overlay__modal_branch-offices_creating_articles .table__branch-offices .table__body {
	height: 200px;
    overflow: hidden;
    overflow: auto;
    transition-delay: 0.0s;
	
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1F319D; 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}


  .overlay__modal_branch-offices_creating_articles .table__branch-offices .tbody__container {
    border-top: 2px solid var(--border-table-color);
	
}

.overlay__modal_branch-offices_creating_articles .table__branch-offices .tbody__container:nth-child(even) {
    background-color: var(--table-color);
}

.overlay__modal_branch-offices_creating_articles .table__branch-offices .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
}

.overlay__modal_branch-offices_creating_articles .table__branch-offices .tbody__container:first-child {
    border-top: none;
}

.overlay__modal_branch-offices_creating_articles .table__branch-offices .tbody__container:last-child {
    border-bottom: none;
    border-radius: 0 0 20px 20px;
}


.overlay__modal_branch-offices_creating_articles .table__branch-offices .table__body .tbody {
    display: flex;
}

.overlay__modal_branch-offices_creating_articles .table__branch-offices .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 100px;
    padding: 10px;
}

.overlay__modal_branch-offices_creating_articles .table__branch-offices .table__body .tbody .td {
    display: flex;
}

.overlay__modal_branch-offices_creating_articles .table__branch-offices .table__body .tbody:hover {
    background-color: var(--table-hover-color);
    color: #fff;
}


.overlay__modal_branch-offices_creating_articles .table__branch-offices .table__body .tbody:hover > .td .cancel-identifier {
	background-color: #ff5252;
	color: #ffffff;
}

.overlay__modal_branch-offices_creating_articles .table__branch-offices .table__body .tbody:hover .td .active-identifier {
    background-color: #4CAF50;
    color: #ffffff;
}

.overlay__modal_branch-offices_creating_articles .table__branch-offices .table__body .tbody:hover .td .btn__general-danger {
    background-color: #ff5252;
    color: #ffffff;
}



  


/*=================================================
 
  Modal de sucursales del modal del articulo 
  
=================================================*/


.overlay__modal_branch-offices_creating_articles {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
	z-index: 1;

}

.overlay__modal_branch-offices_creating_articles.active {
	visibility: visible;
}

.popup__modal_branch-offices_creating_articles {
	background-color: var(--background-modal);  
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	width: 70%;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup__modal_branch-offices_creating_articles .btn-cerrar-popup__modal_branch-offices_creating_articles {
	font-size: 16px;
	position: absolute;
	right: 20px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__modal_branch-offices_creating_articles.active {	transform: scale(1); opacity: 1; }

