.article__modal_create_modal_price_container {
    height: 100%;
    padding: 5px;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }                    
}


/*=================================================
 
  Modal de precios del modal del articulo 
  
=================================================*/


.overlay__modal_prices_creating_articles {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
    z-index: 1;
}

.overlay__modal_prices_creating_articles.active {
	visibility: visible;
}

.overlay__modal_prices_creating_articles .header__modal {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
}

.popup__modal_prices_creating_articles {
	background-color: var(--background-modal);  
	border-radius: 5px;
	padding: 40px 20px 20px 20px;
	width: 100%;
    height: 95%;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
    overflow: hidden;

}

.popup__modal_prices_creating_articles .btn-cerrar-popup__modal_prices_creating_articles {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 30px;
    top: 10px;
}



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__modal_prices_creating_articles.active {	transform: scale(1); opacity: 1; }





.article__modal_create_modal_price_container .select__container .inputs__general {
   outline: 2px solid var(--primary-color);
}




.article__modal_prices_modal_container {
    margin-top: 20px;
    border-radius: 10px;
	text-align: justify;
}


.article__modal_prices_modal_container .table__head {
    display: flex;
    width: 100%;
    background-color: var(--table-color);
    color: var(--text-table-color);
    border-radius: 5px 5px 0 0;
}

.article__modal_prices_modal_container .table__head .thead {
    display: grid;
	width: 100%;
    grid-template-columns: repeat(4, 1fr) repeat(3, 100px);
	column-gap: 20px;
    padding: 10px;
    font-weight: 600;
}

.article__modal_prices_modal_container .table__body {
	max-height: 200px;
    overflow: visible;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}


/* .article__modal_prices_modal_container .tbody__container:nth-child(even) {
    background-color: var(--table-color);
    color: var(--text-table-color);
  }
  
  .article__modal_prices_modal_container .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
    color: var(--text-table-color);
   
  } */

  .article__modal_prices_modal_container .table__body .tbody {
    display: flex;
} 

.article__modal_prices_modal_container .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(4, 1fr) repeat(3, 100px);
    column-gap: 20px;
    padding: 10px;
}
.article__modal_prices_modal_container .table__body .tbody .td {
    position: relative;
}

.article__modal_prices_modal_container .table__body .tbody .td select {
    margin-top: 0;
    width: 100%;
}

.article__modal_prices_modal_container .table__body .tbody .td .inputs__general {
    margin-top: 0;
}




.article__modal_prices_modal_container .tbody__container .table_drop-down {
    height: 0;  /* Deja que el contenedor tenga su altura automática */
    clip-path: inset(0 0 100% 0); /* Oculta todo el contenido */
    transition: all 0.5s ease-in-out; /* Transición suave */
}

.article__modal_prices_modal_container .tbody__container .table_drop-down.active {
    clip-path: inset(0 0 0 0); /* Muestra todo el contenido */
    height: 300px; 
}


.article__modal_prices_modal_container .table__body .tbody .td .select__container {
    position: absolute;
}

/* 
.article__modal_prices_modal_container .table__body .tbody .td .select__container .inputs__general {
    background-color: #BBBBBB !important;
} */


/* .article__modal_prices_modal_container .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
} */



  

.ranges__prices_container {
    background-color: #2f3747;
    padding: 10px;
    border-radius: 10px;
}







.table__modal_prices_extra_modal_container {
    margin-top: 20px;
    border-radius: 10px;
	text-align: justify;
}


.table__modal_prices_extra_modal_container .table__head {
    display: flex;
    width: 100%;
    background-color: var(--table-color);
    color: var(--text-table-color);
    border-radius: 5px 5px 0 0;
}

.table__modal_prices_extra_modal_container .table__head .thead {
    display: grid;
	width: 100%;
    grid-template-columns: repeat(4, 1fr) 100px;
	column-gap: 20px;
    padding: 10px;
    font-weight: 600;
}

.table__modal_prices_extra_modal_container .table__body {
	max-height: 200px;
    overflow: hidden;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}


.table__modal_prices_extra_modal_container .tbody__container:nth-child(even) {
    background-color: var(--table-color);
    color: var(--text-table-color);
  }
  
  .table__modal_prices_extra_modal_container .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
    color: var(--text-table-color);
   
  }

  .table__modal_prices_extra_modal_container .table__body .tbody {
    display: flex;
} 

.table__modal_prices_extra_modal_container .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 100px;
    column-gap: 20px;
    padding: 10px;
}

.table__modal_prices_extra_modal_container .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}



.table__modal_prices_extra_modal_container .area__edit_btn {
	background-color: var(--primary-color);
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: var(--border-radius-general);
	cursor: pointer;
  }



.title__add_prices  {
    padding: 5px;
    background-color: var(--orange-color);
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    color: #f5f6f7;
}










