.hero {
    background-color: var(--header-color);
    border-bottom: 2px solid var(--line-general);
}

.container__hero {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__hero .inputs__general_icons {
    border-radius: 20px;
    padding: 10px 15px;
    background-color: var(--backgorund-header-icons);
    margin-top: 0;
}


.container__hero .inputs__general_icons>svg {
    color: #848a90;
}

.container__hero .inputs__general_icons>.inputs__generic {
    background-color: var(--backgorund-header-icons);
}



.nav__hero {
    position: relative;
    display: flex;
    width: 320px;
    align-items: center;
    justify-content: space-between;
}

.icon__search-btn {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: var(--backgorund-header-icons);
    cursor: pointer;
    color: #848a90;
}

/* .conatiner__users {
    position: relative;
    background-color: #ffffff; 
    padding: 8px 9px;
    border-radius: 50px; 
    cursor: pointer;
    display: inline-flex; 
    align-items: center; 
}
 */





.icon__articles-sale-cart-btn {
    position: relative;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: var(--backgorund-header-icons);
    cursor: pointer;
    color: #848a90;
}



.cart-sale__container {
    position: absolute;
    top: 50px;
    right: -158px;
    width: 350px;
    height: 350px;
    border: 2px solid #F2F2F2;
    background-color: #fff;
    z-index: 1;
    clip-path: circle(0% at 50% 0);
    /* Totalmente oculto */
    transition: clip-path 0.4s ease, opacity 0.3s ease;
    border-radius: 10px;
}

.cart-sale__container .icon-change_history {
    position: absolute;
    top: -15px;
    left: 158px;
    
}


.cart-sale__container.active {
    clip-path: inset(0 0 0 0);
    /* Se expande completamente */
}

.icon__articles-sale-cart-btn:hover .cart-sale__container,
.cart-sale__container.active {
    clip-path: circle(150% at 50% 0);
}

.cart-sale__container>.concepts-sale__container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;

}



.cart-sale__container>.concepts-sale__container .row__one {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 45px;
    padding: 0 20px;
    background-color: rgb(12,36,60);
    color: #fff;
    border-radius: 10px 10px 0 0;
}




.cart-sale__container>.concepts-sale__container .amount {
    display: flex;
    gap: 10px;
}

.cart-sale__container>.concepts-sale__container .amount .title {
    font-weight: 600;
}

.cart-sale__container>.concepts-sale__container .amount .text {

}

.cart-sale__container>.concepts-sale__container .total {
    display: flex;
}


.cart-sale__container>.concepts-sale__container .row__three {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 10px 20px;
}


.cart-sale__container>.concepts-sale__container .total {
    display: grid;
}

.cart-sale__container>.concepts-sale__container .total> .text {
    font-size: 1.4rem;
    border-radius: 5px;
    font-weight: 600;
    color: var(--primary-100);

}

.cart-sale__container>.concepts-sale__container .sale-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 35px;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: #fff;
}











.icon__articles-quotation-cart-btn {
    position: relative;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: var(--backgorund-header-icons);
    cursor: pointer;
    color: #848a90;
}


.cart-quotation__container {
    position: absolute;
    top: 50px;
    right: -157px;
    width: 350px;
    height: 350px;
    border: 2px solid #F2F2F2;
    background-color: #fff;
    z-index: 1;
    clip-path: circle(0% at 50% 0);
    /* Totalmente oculto */
    transition: clip-path 0.4s ease, opacity 0.3s ease;
    border-radius:  10px;
}


.cart-quotation__container .icon-change_history {
    position: absolute;
    top: -15px;
    left: 157px;
    
}





.cart-quotation__container.active {
    clip-path: inset(0 0 0 0);
    /* Se expande completamente */
}

.icon__articles-quotation-cart-btn:hover .cart-quotation__container,
.cart-quotation__container.active {
    clip-path: circle(150% at 50% 0);
}

.cart-quotation__container>.concepts-quotation__container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

.cart-quotation__container>.concepts-quotation__container .row__one {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 45px;
    padding: 0 20px;
    background-color: rgb(12,36,60);
    color: #fff;
    border-radius: 10px 10px 0 0;
}



.cart-quotation__container>.concepts-quotation__container .concepts {
    overflow: auto;
}

.cart-quotation__container>.concepts-quotation__container .row__three {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 10px 20px;
}

.cart-quotation__container>.concepts-quotation__container .total {
    display: grid;
}

.cart-quotation__container>.concepts-quotation__container .total> .text {
    font-size: 1.4rem;
    border-radius: 5px;
    font-weight: 600;
    color: var(--primary-100);

}

.cart-quotation__container>.concepts-quotation__container .sale-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 35px;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: #fff;
}


.cart-quotation__container>.concepts-quotation__container .quotation-btn {
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: rgb(12, 36, 60);
    border-radius: 5px;
    color: #fff;
}









.articles-cart__container>.concepts__container>.sale-articles__sale .sale-btn {
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: #fff;
}









.table__cart_concepts {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(2, auto) 1fr;
	overflow: auto;
}


.table__cart_concepts .table__head {
    display: flex;
    width: 100%;
	background-color: #f4f4f5;

}


.table__cart_concepts .table__head .thead {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
	color: var(--text-table-color);
    font-weight: 600;
}

.table__cart_concepts .table__head .thead .th.amount {
    display: flex;
    justify-content: end;
}

.table__cart_concepts .table__body {
	height: 100%;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
   
    }
}


.table__cart_concepts .tbody__container:nth-child(even) {
    background-color: var(--table-color);
  }
  
  .table__cart_concepts .tbody__container:nth-child(odd) {
	background-color: var(--two-table-color);
  }

  .table__cart_concepts .table__body .tbody {
    display: flex;
}

.table__cart_concepts .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
}

.table__cart_concepts .table__body .tbody .td {
    display: flex;
}

.table__cart_concepts .table__body .tbody .td.code > p {
   
}

.table__cart_concepts .table__body .tbody .td.description > p {
    color: #090d1f;
}



.table__cart_concepts .table__body .tbody .td.amount {
    justify-content: end;
}

.table__cart_concepts .table__body .tbody .td.amount > p {
    height: min-content;
    border-radius: 5px;
    padding: 3px 10px;
    background-color: #3d86c649;
    color: var(--primary-color);
    font-weight: 500;

}



/* 
.table__cart_concepts .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
} */

















.content__users {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    top: 40px;
    border-radius: 5px;
    right: 0px;
    /* Desplazado 20px desde el borde derecho */
    opacity: 0;
    transition: opacity 1s ease;
    z-index: 10;
}

.content__users.active {
    display: block;
    width: 200px;
    height: 200px;
    opacity: 1;
}

/* .conatiner__users.active:hover .content__users {
    display: block;
    opacity: 1;
    animation: animateheight 600ms ease forwards,
    animateWidth 600ms ease forwards;
}

@keyframes animateWidth {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 200px;
        opacity: 1;
    }
}

@keyframes animateheight {
    0% {
        height: 0;
        opacity: 0;
    }
    100% {
        height: 200px;
   
    }
} */



.setting {
    display: flex;
    width: 100%;
    border-radius: 3px;
    align-items: center;
    padding: 5px 10px;
    justify-content: space-between;
}

.setting:hover {
    background-color: #F2F2F2;

}



.btn__configure_users {
    color: #090d1f;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;

}


.conatiner__users>.conatiner__users_svg {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: var(--backgorund-header-icons);
    cursor: pointer;
}

.conatiner__users>.conatiner__users_svg>svg {
    color: #848a90;
}







.container__svg-mode {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 50px;
    color: #ffffff;
    height: 30px;
    width: 30px;
}












/*================Nav Modal=====================*/

.toggle {
    display: none;
    justify-content: center;
    align-items: center;
    /* centra los elementos */
    width: 35px;
    height: 35px;
    z-index: 1;
}

.toggle__botton {
    width: 35px;
    height: 35px;
    transform: scale(.8);
    position: relative;
    cursor: pointer;
    border: none;
    background: transparent;


}

.span {
    background: var(--primary-color);
    width: 100%;
    height: 3px;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.4s, width 0.3s;
}

.l1 {
    transform: translate(-50%, -15px);
}

.l3 {
    transform: translate(-50%, 10px);
}

/* PARTE DE JAVASCRIPT */
.activo .l1 {
    transform: translate(-50%, -50%)rotate(45deg);
}

.activo .l3 {
    transform: translate(-50%, -50%)rotate(-45deg);
}

.activo .l2 {
    width: 0;
}




@media screen and (max-width: 768px) {
    .toggle {
        display: block;
    }

    .container__hero .inputs__general_icons {
        display: none;
    }
}