.hero {
  background-color: var(--header-color);
  border-bottom: 2px solid var(--line-general);
}

.container__hero {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.container__hero .inputs__general_icons {
    border-radius: 20px;
    padding: 10px 15px;
    background-color: var(--backgorund-header-icons);
    margin-top: 0;
}


.container__hero .inputs__general_icons > svg {
    color: #848a90;
}

.container__hero .inputs__general_icons > .inputs__generic {
    background-color: var(--backgorund-header-icons);
}



.nav__hero {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-between;
}

/* .conatiner__users {
    position: relative;
    background-color: #ffffff; 
    padding: 8px 9px;
    border-radius: 50px; 
    cursor: pointer;
    display: inline-flex; 
    align-items: center; 
}
 */



.content__users {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    top: 40px;
    border-radius: 5px;
    right: 0px; /* Desplazado 20px desde el borde derecho */
    opacity: 0;
    transition: opacity 1s ease;
    z-index: 10;
}

.content__users.active {
    display: block;
    width: 200px;
    height: 200px;
    opacity: 1;
}

/* .conatiner__users.active:hover .content__users {
    display: block;
    opacity: 1;
    animation: animateheight 600ms ease forwards,
    animateWidth 600ms ease forwards;
}

@keyframes animateWidth {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 200px;
        opacity: 1;
    }
}

@keyframes animateheight {
    0% {
        height: 0;
        opacity: 0;
    }
    100% {
        height: 200px;
   
    }
} */



.setting {
    display: flex;
    width: 100%;
    border-radius: 3px;
    align-items: center;
    padding: 5px 10px;
    justify-content: space-between;
}

.setting:hover {
    background-color: #F2F2F2;

}



.btn__configure_users {
    color: #090d1f;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;

}


.conatiner__users > .conatiner__users_svg {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: var(--backgorund-header-icons);
    cursor: pointer;
}

.conatiner__users > .conatiner__users_svg > svg {
    color: #848a90;
}







.container__svg-mode {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 50px;
    color: #ffffff;
    height: 30px;
    width: 30px;
}

