.production {
    height: 90vh;
	padding: 20px;
}


.production__container {
    height: 100%;
	border-radius: 10px;
    overflow: scroll;
}


.production__container > .row__one {
    padding: 20px;
    background-color: var(--cards-background);
    border-radius: var(--general-card-border);
}

.production__container > .row__one .row__two {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    column-gap: 20px;
}


.table__orders_production {
    border-radius: 10px;
    display: grid;
    overflow: hidden;
    grid-template-rows: repeat(11, auto) 1fr;
    height: 100%;

}


.table__orders_production .table__head {
    display: flex;
    width: 100%;
    background-color: var(--table-color);
	color: var(--text-table-color);
    border-radius: 5px 5px 0 0;
}

.table__orders_production .table__head .thead {
 
   width: 100%;
}

.table__orders_production .table__head .thead {
    display: grid;
    grid-template-columns: repeat(7, 1fr) ;
    padding: 10px;
    font-weight: 600;
    border: 2px solid var(--border-table-color);
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}

.table__orders_production .table__body {
	height: 100%;
    overflow-y: auto;
    transition-delay: 0.0s;
    border: 2px solid var(--border-table-color);
  
    border-radius: 0 0 10px 10px;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}


.table__orders_production .table__body .tbody:hover {
    background-color: var(--table-hover-color);
    color: #fff;
}

  .table__orders_production .tbody__container {
    border-top: 2px solid var(--border-table-color);
}

.table__orders_production .tbody__container:nth-child(even) {
    background-color: var(--table-color);
}

.table__orders_production .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
}

.table__orders_production .tbody__container:first-child {
    border-top: none;
}

.table__orders_production .tbody__container:last-child {
    border-radius: 0 0 10px 10px;
}


.table__orders_production .table__body .tbody {
    display: flex;
}

.table__orders_production .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
}

.table__orders_production .table__body .tbody .td.order > div {
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 10px;
    color: var(--white-color);
    font-weight: 500;
}

.table__orders_production .table__body .tbody .td {
    display: flex;
    align-items: center;
}

.table__orders_production .table__body .tbody:hover .td > .folio-identifier {
    background-color: #3d86c6;
    color: #ffffff;
}

.table__orders_production .table__body .tbody:hover .td > .user-identifier {
    background-color: #ffffff;
    color: #7E8998;
}

.table__orders_production .table__body .tbody:hover .td > p .active-identifier {
    background-color: #4CAF50;
    color: #ffffff;
}


.checkbox-group {
  
}

.table__orders_production .table__body .tbody .td .checkbox-input {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #4b5563;
  border-radius: 4px;
  margin: 0 5px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.table__orders_production .table__body .tbody .td .checkbox-input:checked {
    background-color: var(--primary-color);
    border-color:  var(--primary-color);
}

.table__orders_production .table__body .tbody .td .checkbox-input:checked::after {
  content: '\2714';
  font-size: 14px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table__orders_production .table__body .tbody:hover .td .checkbox-input:not(:checked) {
    border-color: #fff;
    background-color: #fff;
  }
  

.table__orders_production .table__body .tbody .td .checkbox-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px  var(--primary-color);
}





.tbody.delayed {
    background-color: #ff5252dc;
    color: #fff;
}

.tbody.delayed .folio-identifier {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: #ffffff;
    border-radius: 5px;
    font-weight: 600;
    /* outline: 2px solid var(--primary-100); */
    color: #5c6c85;
}

.tbody.delayed .active-identifier {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: #00b894;
    border-radius: 5px;
    font-weight: 600;
    color: #ffffff;
}


.table__orders_production .table__body .tbody.delayed .td .checkbox-input {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
  }

  .table__orders_production .table__body .tbody.delayed .td .checkbox-input:checked {
    background-color: #50a2e9;
    border-color:  #50a2e9;
}


.tbody.to-deliver {
    background-color: #ff9800;
    color: #fff;
}

.table__orders_production .table__body .tbody.to-deliver .td .checkbox-input {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
  }

  .table__orders_production .table__body .tbody.to-deliver .td .checkbox-input:checked {
    background-color: #50a2e9;
    border-color:  #50a2e9;
}


.tbody.to-deliver .folio-identifier {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: #ffffff;
    border-radius: 5px;
    font-weight: 600;
    /* outline: 2px solid var(--primary-100); */
    color: #5c6c85;
}

.tbody.to-deliver .active-identifier {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: #4caf4f;
    border-radius: 5px;
    font-weight: 600;
    color: #ffffff;
}
  
  



.tbody.blue {
    background-color: #bcdbf1;
}

.tbody.no-color {
    background-color: transparent;
}