.conatiner__create_articles {
    text-align: left;
	
    
 }
 


.container__form_articles-radios {
	display: flex;
}

.checkbox__modal_articles {
	display: flex;
	justify-content: center;
  	padding: 20px;
}



.row__form_articles-one {
	display: grid;
    grid-template-columns: repeat(4, 1fr) 100px;
    gap: 10px;
	align-items: end;
}



.container__articles > .row__two {
	display: flex;
	justify-content: center;
	
}


.create__articles_btn-container {
	display: flex;
	justify-content: center;
}





.loading_modal {
    display: block;
  }

.loading_modal > p {
padding: 10px;
}



.row__form_articles-radios {
	display: flex;
	justify-content: center;
}







.row__form_articles-two {
	display: grid;
    grid-template-columns: repeat(5, 1fr) auto;
    gap: 10px;
	align-items: end;
}

.row__form_articles-three {
	display: grid;
    grid-template-columns: repeat(2, 1fr) auto;
    gap: 10px;
	align-items: end;
}

.row__form_articles-four {
	display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
	margin: 20px 0;
    gap: 10px;
	align-items: end;
}

.row__form_articles-five {
	display: grid;
    grid-template-columns: repeat(4, 1fr);
	margin: 20px 0;
    gap: 10px;
	align-items: end;
}

.row__form_articles-six {
	display: grid;
    grid-template-columns: repeat(8, 1fr);
	margin: 20px 0;
    gap: 10px;
	align-items: end;
}





.article__modal_save_modal_container {
	display: block;
}

.article__modal_save_modal_container > .row__one {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
	margin: 20px 0;
    gap: 10px;
	align-items: end;
}

.article__modal_save_modal_container .row__two {
	display: grid;
    grid-template-columns: 1fr repeat(2, 100px);
	margin: 20px 0;
    gap: 10px;
	align-items: end;
}

.conatiner__articles-modal > .row__two {
	display: block;
	background-color: var(--cards-background);
	border-radius: var(--general-card-border);
	margin-top: 20px;
}

.conatiner__articles-modal > .row__two .title {
	padding: 20px 20px 0 20px;
}

.conatiner__articles-modal > .row__two .row__one {

	display: grid;
	grid-template-columns: repeat(3, 1fr) repeat(3, 2fr);
}


/* 
.table__articles {
    margin-top: 20px;
    border-radius: 10px;
}


.table__articles .table__head {
    display: flex;
    width: 100%;
    background-color: #eeecec;
    border-radius: 5px 5px 0 0;
}

.table__articles .table__head .thead {
   display: flex;
   width: 100%;
}

.table__articles .table__head .thead {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 100px;
    padding: 10px;
    font-weight: 600;
}

.table__articles .table__body {
	height: 300px;
    overflow: hidden;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1F319D; 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {

    }
}


.table__articles .tbody__container:nth-child(even) {
    background-color: #eeecec;
  }
  
.table__articles .tbody__container:nth-child(odd) {
    background-color: #f9f8f8;
  }

.table__articles .table__body .tbody {
    display: flex;
}

.table__articles .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 100px;
    padding: 10px;
}

.table__articles .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}

*/





.custom-file-upload {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6px 12px;
	background-color: var(--primary-color);
	color: #fff; /* Color del texto blanco */
	border-radius: 5px;
	cursor: pointer;
	width: 150px;
    height: 100px;
	background-size: cover;
    background-position: center;
}

.custom-file-upload.active {
	width: 150px;
	background-color: transparent;
    height: 100px;
	background-size: cover;
    background-position: center;
}

.custom-file-upload.active > span {
	display: none;
}

.custom-file-upload.active:hover > span {
	display: block;
}




  
  .custom-file-upload input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
  }
  
  .custom-file-upload span {
	display: inline-block;
	vertical-align: middle;
  }
  
  .custom-file-upload svg {
	width: 18px;
	height: 18px;
	vertical-align: middle;
	margin-right: 5px;
  }


  .btp__clone {
	position: absolute;
	right: 20px;
  }


















/*=================================================
 
  Modal de empresas del modal del articulo 
  
=================================================*/


.overlay__modal_companies_creating_articles {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay__modal_companies_creating_articles.active {
	visibility: visible;
}

.popup__modal_companies_creating_articles {
	background-color: var(--background-modal);  
	border-radius: 5px;

	padding: 20px;
	text-align: center;
	width: 70%;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup__modal_companies_creating_articles .btn-cerrar-popup__modal_companies_creating_articles {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__modal_companies_creating_articles.active {	transform: scale(1); opacity: 1; }




/*=================================================
 
  Modal de variaciones del modal del articulo 
  
=================================================*/

.article__modal_save_modal_variations_container .row__one  {
	display: grid;
    grid-template-columns: 1fr 100px;
	margin: 20px 0;
    gap: 10px;
	align-items: end;
}

.article__modal_save_modal_variations_container .row__two {
	display: grid;
    grid-template-columns: 1fr 100px;
	margin: 20px 0;
    gap: 10px;
	align-items: end;
}


.overlay__modal_variations_creating_articles {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay__modal_variations_creating_articles.active {
	visibility: visible;
}

.popup__modal_variations_creating_articles {
	background: #F8F8F8;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 50%;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup__modal_variations_creating_articles .btn-cerrar-popup__modal_variations_creating_articles {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}


/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__modal_variations_creating_articles.active {	transform: scale(1); opacity: 1; }


/*=================================================
 
  Modal de areas de produccion del modal del articulo 
  
=================================================*/
/* 
.article__modal_save_modal_production-areas_container .row__one {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
	margin: 20px 0;
    gap: 10px;
	align-items: end;
}

.article__modal_save_modal_production-areas_container .row__two {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
	margin: 20px 0;
    gap: 10px;
	align-items: end;
}


.overlay__modal_production-areas_creating_articles {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay__modal_production-areas_creating_articles.active {
	visibility: visible;
}

.popup__modal_production-areas_creating_articles {
	background: #F8F8F8;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	width: 95%;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup__modal_production-areas_creating_articles .btn-cerrar-popup__modal_production-areas_creating_articles {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}



.popup__modal_production-areas_creating_articles.active {	transform: scale(1); opacity: 1; } */


/*=================================================
 
  Modal de proveedores del modal del articulo 
  
=================================================*/




/* ------------------------------------------------------------------------------------------------------------------------- */
/************************************************** Tabal de Maximos y minimos********************************************** */
/* ------------------------------------------------------------------------------------------------------------------------- */
/* 

.article__modal_save_modal_suppliers_container .table__suppliers {
    margin-top: 20px;
    border-radius: 10px;
	text-align: justify;
}


.article__modal_save_modal_suppliers_container .table__suppliers .table__head {
    display: flex;
    width: 100%;
    background-color: #eeecec;
    border-radius: 5px 5px 0 0;
}

.article__modal_save_modal_suppliers_container .table__suppliers .table__head .thead {
    display: grid;
	width: 100%;
    grid-template-columns: repeat(2, 1fr) 100px 100px 1fr 100px;
	
    padding: 10px;
    font-weight: 600;
}

.article__modal_save_modal_suppliers_container .table__suppliers .table__body {
	height: 200px;
    overflow: hidden;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1F319D; 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    
    }
}


.article__modal_save_modal_suppliers_container .table__suppliers .tbody__container:nth-child(even) {
    background-color: #eeecec;
  }
  
.article__modal_save_modal_suppliers_container .table__suppliers .tbody__container:nth-child(odd) {
    background-color: #f9f8f8;
  }

.article__modal_save_modal_suppliers_container .table__suppliers .table__body .tbody {
    display: flex;
} 

.article__modal_save_modal_suppliers_container .table__suppliers .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 100px 100px 1fr 100px;
    padding: 10px;
}

.article__modal_save_modal_suppliers_container .table__suppliers .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}

.article__modal_save_modal_suppliers_container .area__edit_btn {
	background-color: var(--primary-color);
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: var(--border-radius-general);
	cursor: pointer;
  }
 */




 .article__modal_create_modal_price_container {
    height: 100%;
    padding: 5px;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }                    
}


/*=================================================
 
  Modal de precios del modal del articulo 
  
=================================================*/


.overlay__articles {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
    z-index: 1;
}

.overlay__articles.active {
	visibility: visible;
}

.overlay__articles > .header__modal {
	position: relative;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
	align-items: center;
}

.popup__articles {
	background-color: var(--background-modal);  
	border-radius: 5px;
	width: 95%;
    max-height: 95%;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
	padding: 10px;
    overflow: hidden;
}

.popup__articles .btn-cerrar-popup__articles {
	position: absolute;
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    right: 30px;
    top: 10px;
}



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__articles.active {	transform: scale(1); opacity: 1; }




.conatiner__articles-modal {
	padding: 0 20px 20px 20px;
}
 

.conatiner__articles-modal .row__one {
	padding: 20px;
    background-color: var(--cards-background);
    border-radius: var(--general-card-border);
}



.loading__container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}


.row-small label,
.row-small p,
.row-small input {
    font-size: 12px; /* Tamaño de fuente más pequeño */
    margin: 2px 0; /* Reducir márgenes verticales */
}
.small-row .switch {
    transform: scale(0.8); /* Reduce el tamaño del switch */
    margin-top: 5px; /* Ajusta el margen para alinearlo */
}

.small-row .switch .slider {
    width: 30px; /* Ajusta el tamaño del slider */
    height: 15px;
}

.row-small input {
    height: 28px; /* Ajusta la altura de los inputs si es necesario */
}
.row-small .Select__control {
    font-size: 12px; /* Reducir el tamaño del texto */
    height: 28px; /* Reducir la altura del control */
}

.row-small .Select__menu {
    font-size: 12px; /* Ajustar el tamaño del texto en el menú desplegable */
}

.tooltip-container {
	position: relative;
	display: inline-block;
  }
  
  .tooltip-text {
	visibility: hidden;
	background-color: var(--primary-color);
	color: #fff;
	text-align: center;
	border-radius: 4px;
	padding: 5px;
	position: absolute;
	z-index: 0;
	bottom: 125%; /* Ajustar según la posición del botón */
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.3s;
  }
  
  .tooltip-container:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
  }
  