
.article__modal_prices-history_modal_container {
    margin-top: 20px;
    border-radius: 10px;
	text-align: justify;
}





  
.table_drop-down .article__modal_prices-ext_modal_container .table__head {
    display: flex;
    width: 100%;
    background-color: var(--table-color);
    color: var(--text-table-color);
    border-radius: 5px 5px 0 0;
}

.table_drop-down .article__modal_prices-ext_modal_container .table__head .thead {
    display: grid;
	width: 100%;
    grid-template-columns: repeat(4, 1fr);
	
    padding: 10px;
    font-weight: 600;
}

.table_drop-down .article__modal_prices-ext_modal_container .table__body {
	min-height: 250px;
    overflow: hidden;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1F319D; 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}


.table_drop-down .article__modal_prices-ext_modal_container .tbody__container:nth-child(even) {
    background-color: var(--table-color);
    color: var(--text-table-color);
  }
  
  .table_drop-down  .article__modal_prices-ext_modal_container .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
    color: var(--text-table-color);
   
  }

  .table_drop-down  .article__modal_prices-ext_modal_container .table__body .tbody {
    display: flex;
} 

.table_drop-down .article__modal_prices-ext_modal_container .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
}

.table_drop-down .article__modal_prices-ext_modal_container .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}

.article__modal_prices-ext_modal_container .table__body .tbody .td .select-btn__general {
    margin-top: 0;
}

.table_drop-down .article__modal_prices-ext_modal_container .area__edit_btn {
	background-color: var(--primary-color);
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: var(--border-radius-general);
	cursor: pointer;
  }



  






.article__modal_prices-history_modal_container .table__head {
    display: flex;
    width: 100%;
    background-color: var(--table-color);
    color: var(--text-table-color);
    border-radius: 5px 5px 0 0;
}

.article__modal_prices-history_modal_container .table__head .thead {
    display: grid;
	width: 100%;
    grid-template-columns: repeat(2, 1fr);
	
    padding: 10px;
    font-weight: 600;
}

.article__modal_prices-history_modal_container .table__body {
	height: 200px;
    overflow: hidden;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1F319D; 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}


.article__modal_prices-history_modal_container .tbody__container:nth-child(even) {
    background-color: var(--table-color);
    color: var(--text-table-color);
  }
  
  .article__modal_prices-history_modal_container .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
    color: var(--text-table-color);
   
  }

  .article__modal_prices-history_modal_container .table__body .tbody {
    display: flex;
} 

.article__modal_prices-history_modal_container .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
}

.article__modal_prices-history_modal_container .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}

.article__modal_prices-history_modal_container .area__edit_btn {
	background-color: var(--primary-color);
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: var(--border-radius-general);
	cursor: pointer;
  }







