.article__view {
    height: 90vh;
	padding: 20px;
}

.article__view_container {
	height: 100%;
}

.article__view_container > .row__one {
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto auto;
    gap: 10px;
	align-items: end;
}

.article__view_container > .row__two {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin-top: 30px;

}

.article__view_container .row__two > .item {
    /* color: var(--text-color-ligth);
    border: 2px solid var(--line-general);
    height: auto;
    display: block;
 
    border-radius: 10px;
    cursor: pointer; */

}




.article__view_container .row__two > .item .img {
    /* width: 90%;
    height: 120px;
    background-size: cover;
    background-position: center; */
}


.article__view_container .row__two > .item .img > img {
    width: 100%;
    height: auto;

}