.purchase-order {
    padding: 20px;
    height: 90vh;
  
}

.container__purchase-order {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(3, auto) 50%;
    background-color: var(--background-sections);
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    
  
}

.container__purchase-order > .row__one {
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
    align-items: end;
}

.container__purchase-order > .row__two {
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
    align-items: end;
    margin: 20px 0;
}



.container__purchase-order > .row__three {
    display: grid;
	grid-template-columns: 1fr 100px 100px;
	gap: 10px;
    align-items: end;
    margin: 20px 0;
}

.container__purchase-order > .row__three .container__search {
    display: flex;
    justify-content: center;
}

.parchase-orders-modal_container > .row__check {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.container__checkbox_purchas-order {
    width: 400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
   
}

.checkbox__purchas-order {
	display: flex;
	justify-content: center;
  	padding: 5px;
}






.container__search .svg {
    width: 16px;
    transform: rotate(90deg);
    margin-left: 5px;
    fill: #fff;
}


.container__search .btn__container {
    display: flex;
    align-items: center;
}



.container__two {
    width: 70%;
    display: grid;
	grid-template-columns: 1fr 100px; 
	gap: 10px;
    align-items: end;
}






 /*************************************************************
 
                    Tabla de purchase-order
 
 **************************************************************/



.table__purchase-order {
    border-radius: 10px;
    display: grid;
    height: 100%;
    grid-template-rows: repeat(2, auto) 1fr;

}


.table__purchase-order .table__head {
    display: flex;
    width: 100%;
    background-color: var(--table-color);
	color: var(--text-table-color);
    border-radius: 5px 5px 0 0;
}

.table__purchase-order .table__head .thead {
   display: flex;
   width: 100%;
}

.table__purchase-order .table__head .thead {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
    font-weight: 600;
}

.table__purchase-order .table__body {
	height: 100%;
    overflow-y: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1F319D; 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}

.table__purchase-order .tbody__container {
    cursor: pointer;
}

.table__purchase-order .tbody__container:nth-child(even) {
    background-color: var(--table-color);
	color: var(--text-table-color);
}
  
.table__purchase-order .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
	color: var(--text-table-color);
  }

.table__purchase-order .table__body .tbody {
    display: flex;
}

.table__purchase-order .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;

}

.table__purchase-order .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}





/* ------------------------- */
/* Tabla del Modal ordenes de compra */
/* ------------------------- */

/* 
.table__modal_parchase-orders {
    margin-top: 20px;
    border-radius: 10px;
    grid-column: 1 / span 2;

}


.table__modal_parchase-orders .table__head {
    display: flex;
    width: 100%;
    background-color: #eeecec;
    border-radius: 5px 5px 0 0;
}

.table__modal_parchase-orders .table__head .thead {
   display: flex;
   width: 100%;
}

.table__modal_parchase-orders .table__head .thead {
    display: grid;
    grid-template-columns: repeat(9, 1fr) 100px;
    padding: 10px;
    font-weight: 600;
	
}

.table__modal_parchase-orders .table__body {
	max-height: 300px;
    overflow: hidden;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1F319D; 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {

    }
}


.table__modal_parchase-orders .tbody__container:nth-child(even) {
    background-color: #eeecec;
  }
  
.table__modal_parchase-orders .tbody__container:nth-child(odd) {
    background-color: #f9f8f8;
  }

.table__modal_parchase-orders .table__body .tbody {
    display: flex;
}

.table__modal_parchase-orders .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(9, 1fr) 100px;
    padding: 10px;
    gap: 5px;
    align-items: center;

} */
/* 
.table__modal_parchase-orders .table__body .tbody .td {
    display: flex;
    align-items: center;
} */





@media screen and (max-height: 1080px) {
    .container__purchase-order {
        grid-template-rows: repeat(3, auto) 65%;
    }
}

@media screen and (max-height: 720px) {
    .container__purchase-order {
        grid-template-rows: repeat(3, auto) 50%;
    }
}



