.purchase-order {
    height: 90vh;
  
}

.container__purchase-order {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(3, auto) 50%;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.container__purchase-order > .row__one {
  
    
}

.container__purchase-order > .row__one > .row__one {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;
    
}

.container__purchase-order > .row__one {
    padding: 20px;
    background-color: var(--cards-background);
    border-radius: var(--general-card-border);
}

.container__purchase-order > .row__one > .row__two {
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
    align-items: end;
    margin: 20px 0;
}



.container__purchase-order > .row__one > .row__three {
    display: grid;
	grid-template-columns: 1fr 100px 100px;
	gap: 10px;
    align-items: end;
    margin: 20px 0;
}



.container__purchase-order > .row__three .container__search {
    display: flex;
    justify-content: center;
}

.parchase-orders-modal_container > .row__check {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.container__checkbox_purchas-order {
    width: 400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
   
}

.checkbox__purchas-order {
	display: flex;
	justify-content: center;
  	padding: 5px;
}






.container__search .svg {
    width: 20px;
    transform: rotate(90deg);
    fill: #fff;
}


.container__search .btn__container {
    display: flex;
    align-items: center;
}



.container__two {
    width: 70%;
    display: grid;
	grid-template-columns: 1fr 100px; 
	gap: 10px;
    align-items: end;
}






 /*************************************************************
 
                    Tabla de purchase-order
 
 **************************************************************/



 /*************************************************************
 
                    Tabla de purchase-order
 
 **************************************************************/



 .table__purchase-order {
    border-radius: 10px;
    display: grid;
    height: 100%;
    grid-template-rows: repeat(2, auto) 1fr;

}


.table__purchase-order .table__head {
    display: flex;
    width: 100%;
    background-color: var(--table-color);
	color: var(--text-table-color);
    border-radius: 5px 5px 0 0;
	border: 2px solid var(--border-table-color);
	border-radius: 20px 20px 0 0;
}

.table__purchase-order .table__head .thead {
   display: flex;
   width: 100%;
}

.table__purchase-order .table__head .thead {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
    font-weight: 600;
}

.table__purchase-order .table__body {
	height: 100%;
    overflow-y: auto;
    transition-delay: 0.0s;
    border: 2px solid var(--border-table-color);
    border-top: none;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}

.table__purchase-order .tbody__container {
    cursor: pointer;
}

.table__purchase-order .tbody__container {
	border-top: 2px solid var(--border-table-color);
}
  
.table__purchase-order .tbody__container:nth-child(even) {
	background-color: var(--table-color);
}
  
.table__purchase-order .tbody__container:nth-child(odd) {
	background-color: var(--two-table-color);
}
  
.table__purchase-order .tbody__container:first-child {
	border-top: none;
}
  
.table__purchase-order .tbody__container:last-child {
	border-bottom: none;
	border-radius: 0 0 20px 20px;
}


.table__purchase-order .table__body .tbody {
    display: flex;
}

.table__purchase-order .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;

}

.table__purchase-order .table__body .tbody:hover {
    background-color: var(--table-hover-color);
    color: #fff;
}

.table__purchase-order  .table__body .tbody .td {
    display: flex;
    align-items: center;
} 


.table__purchase-order .table__body .tbody:hover > .td .folio-identifier {
	background-color: #3D85C6;
	color: #ffffff;
}

.table__purchase-order .table__body .tbody:hover > .td .date-identifier {
	background-color: #ff9100;
	color: #ffffff;
}

.table__purchase-order .table__body .tbody:hover > .td .cancel-identifier {
	background-color: #ff5252;
	color: #ffffff;
}

.table__purchase-order .table__body .tbody:hover .td .active-identifier {
    background-color: #4CAF50;
    color: #ffffff;
}





/* ------------------------- */
/* Tabla del Modal ordenes de compra */
/* ------------------------- */

/* 
.table__modal_parchase-orders {
    margin-top: 20px;
    border-radius: 10px;
    grid-column: 1 / span 2;

}


.table__modal_parchase-orders .table__head {
    display: flex;
    width: 100%;
    background-color: #eeecec;
    border-radius: 5px 5px 0 0;
}

.table__modal_parchase-orders .table__head .thead {
   display: flex;
   width: 100%;
}

.table__modal_parchase-orders .table__head .thead {
    display: grid;
    grid-template-columns: repeat(9, 1fr) 100px;
    padding: 10px;
    font-weight: 600;
	
}

.table__modal_parchase-orders .table__body {
	max-height: 300px;
    overflow: hidden;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1F319D; 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {

    }
}


.table__modal_parchase-orders .tbody__container:nth-child(even) {
    background-color: #eeecec;
  }
  
.table__modal_parchase-orders .tbody__container:nth-child(odd) {
    background-color: #f9f8f8;
  }

.table__modal_parchase-orders .table__body .tbody {
    display: flex;
}

.table__modal_parchase-orders .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(9, 1fr) 100px;
    padding: 10px;
    gap: 5px;
    align-items: center;

} */
/* 
.table__modal_parchase-orders .table__body .tbody .td {
    display: flex;
    align-items: center;
} */

.row__finally .row__finally_btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
}

.row__finally .row__finally_btns>div {
    display: flex;
    align-items: center;
}

.row__finally .row__finally_btns>.subtotal>div {
    display: flex;
    border: 2px solid #3d86c633;
    border-radius: 5px;

}

.row__finally .row__finally_btns>.discount>div {
    display: flex;
    border: 2px solid #ff52522f;
    border-radius: 5px;

}

.row__finally .row__finally_btns>.urgency>div {
    display: flex;
    border: 2px solid #ff910031;
    border-radius: 5px;

}

.row__finally .row__finally_btns>.total>div {
    display: flex;
    border: 2px solid #5e35b038;
    border-radius: 5px;

}

.row__finally .row__finally_btns>.subtotal>div>.name {
    background-color: #3d86c633;
    color: #3d86c6;
    font-weight: 600;
}

.row__finally .row__finally_btns>.discount>div>.name {
    background-color: #ff52522f;
    color: #FF5252;
    font-weight: 600;
}


.row__finally .row__finally_btns>.urgency>div>.name {
    background-color: #ff910031;
    color: #FF8F00;
    font-weight: 600;
}

.row__finally .row__finally_btns>.total>div>.name {
    background-color: #5e35b038;
    color: #5d35b0;
    font-weight: 600;
}


.row__finally .row__finally_btns>div>div>.name {
    color: #fff;
    padding: 5px 10px 5px 5px;
}


.row__finally .row__finally_btns>div>div>.value {
    padding: 5px;
}



@media screen and (max-height: 1080px) {
    .container__purchase-order {
        grid-template-rows: repeat(3, auto) 65%;
    }
}

@media screen and (max-height: 720px) {
    .container__purchase-order {
        grid-template-rows: repeat(3, auto) 50%;
    }
}



