.requisition {
	height: 90vh;
    padding: 20px;

}

.container__requisition {
	height: 100%;
	display: grid;
	grid-template-rows: repeat(3, auto) 60%;
	background-color: var(--background-sections);
    padding: 20px;
    border-radius: 10px;
}

.requisition .row__one {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr)) ;
	gap: 10px;
}

.requisition > .row__two {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 10px;

}

.dates__requisition {
	text-align: left;
}

.container_dates__requisition {	
	margin-top: 10px;
}


.container_dates__requisition .date {
	height: 40px;
	width: 100%;
	padding: 10px;
	border: none;
	outline: none;
	background-color: #fff;
	border-radius: 5px 5px 5px 5px;
	background-color: var(--input-color);
	color: var(--text-color-ligth);
	
}

.container_dates__requisition:hover .date::placeholder {
	color: #FFF !important;
	transition: background-color 500ms ease;
}

.container_dates__requisition:hover .date {
	background-color: var(--primary-color);
	color: #FFF !important;
	transition: background-color 500ms ease;
}

.container__checkbox_requisition {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.checkbox__requisition {
	display: flex;
	justify-content: center;
  	padding: 20px;
}

.container__requisition > .row__three {
	display: grid;
	grid-template-columns: repeat(2, 1fr) 100px 1fr;
	gap: 10px;
	margin-top: 15px;
}




.create__requisition_btn-container {
	margin-top: 20px;
	display: flex;
	align-items: end;
	justify-content: center;
}


.checkbox-container {
	display: block;
	position: relative;
	padding-left: 50px;
	cursor: pointer;
	font-size: 22px;
  }
  
  .checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
  }
  
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #D0342C;
	border: 3px solid #FFF;
	outline: 3px solid #D0342C;
	border-radius: 50%;
  }
  
  .checkbox-container input:checked ~ .checkmark {
	background-color: #1ED600;
	border: 3px solid #FFF;
	outline: 3px solid #1ED600;
  }
  
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  .checkbox-container input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* .checkbox-container .checkmark:after {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px; 
	border-radius: 50%;
	background: white;
  } */

  .checkboxs {
	display: flex;
	justify-content: center;
  }




/* .requisition-modal_container > .row__four {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
	align-items: end;
	text-align: left;
} */



/*=================================================
 
  Modal de precios del modal del articulo 
  
=================================================*/


.overlay__requisition {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
    z-index: 1;
}

.overlay__requisition.active {
	visibility: visible;
}

.overlay__requisition .header__modal {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
}

.popup__requisition {
	background-color: var(--background-modal);  
	border-radius: 5px;
	padding: 40px 20px 20px 20px;
	width: 80%;
    height: 95%;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
    overflow: hidden;

}

.popup__requisition.loading::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.103);  
	border-radius: 5px;
	width: 100%; /* Ocupa todo el ancho */
	height: 100%; /* Ocupa toda la altura */
	transition: .3s ease all;
	transform: scale(1); /* Mostrar completamente */
	opacity: 1;
	z-index: 10;
}

.popup__requisition .btn-cerrar-popup__requisition {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 30px;
    top: 10px;
}


/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__requisition.active {	transform: scale(1); opacity: 1; }



/* ------------------------- */
/* Tabla del Modal */
/* ------------------------- */

.table__requisiciones {
    margin-top: 20px;
    border-radius: 10px;
    grid-column: 1 / span 2;

}


.table__requisiciones .table__head {
    display: flex;
    width: 100%;
	background-color: var( --table-color);
    border-radius: 5px 5px 0 0;
}

.table__requisiciones .table__head .thead {
   display: flex;
   width: 100%;
}

.table__requisiciones .table__head .thead {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 10px;
    font-weight: 600;
	color: var(--text-table-color);
}

.table__requisiciones .table__body {
	max-height: 300px;
    overflow: hidden;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {

    }
}


.table__requisiciones .tbody__container:nth-child(even) {
    background-color: var(--table-color);
  }
  
  .table__requisiciones .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
  }

  .table__requisiciones .table__body .tbody {
    display: flex;
}

.table__requisiciones .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 10px;
	column-gap: 20px;
	align-items: center;
	color: var(--text-color);
}


.table__requisiciones  .table__body .tbody .td.code {
	background-color: #682ce02c;
	color: var(--secundary-color);
	font-weight: 500;
	padding: 10px;
	border-radius: 5px;
}

.table__requisiciones  .table__body .tbody .td.date {

	background-color: #bf6a032f;
	color: var(--orange-color);
	font-weight:500;
	padding: 10px;
	border-radius: 5px;
}

.table__requisiciones  .table__body .tbody .td .inputs__general {
   margin-top: 0;
}

.table__requisiciones .table__body .tbody:hover {
    background-color: var(--secundary-color);
	color: var(--white-color);
}



