

.requisition-modal {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
}




.requisition-modal_container {
    padding: 5px;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}

.requisition-modal_container > .row__one {
    padding: 20px;
    background-color: var(--cards-background);
    border-radius: var(--general-card-border);

}

.container__checkbox_requisition-type {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container__checkbox_requisition-type  > .checkbox__requisition-type {
	display: flex;
	justify-content: center;
}


.requisition-modal_container > .row__one > .row__two {
	display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
	align-items: end;
	text-align: left;
}

.requisition-modal_container > .row__one > .row__two > .container__textarea_general {
    grid-column: 1 / span 4;
}




.card {
    border-radius: 10px; 
    width: 100%;
    transition: transform 0.2s;
}


.card-img-top {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 100%;
    height: auto;
}

.card-body {
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    color: #333;
}

.card-text {
    margin-bottom: 1rem;
    color: #666;
}





/* ------------------------- */
/* Tabla del Modal */
/* ------------------------- */

.table__requisiciones-modal {
    margin-top: 20px;
    border-radius: 10px;
    grid-column: 1 / span 2;

}


.table__requisiciones-modal .table__head {
    display: flex;
    width: 100%;
	background-color: var( --table-color);
    border-radius: 5px 5px 0 0;
}

.table__requisiciones-modal .table__head .thead {
   display: flex;
   width: 100%;
}

.table__requisiciones-modal .table__head .thead {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 100px;
    padding: 10px;
    font-weight: 600;
	color: var(--text-table-color);
}

.table__requisiciones-modal .table__body {
	max-height: 300px;
    overflow: hidden;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {

    }
}


.table__requisiciones-modal .tbody__container:nth-child(even) {
    background-color: var(--table-color);
  }
  
  .table__requisiciones-modal .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
  }

  .table__requisiciones-modal .table__body .tbody {
    display: flex;
}

.table__requisiciones-modal .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 100px;
    padding: 10px;
	column-gap: 20px;
	align-items: center;
	color: var(--text-color);
}

.table__requisiciones-modal  .table__body .tbody .td.code {
	display: flex;
}


.table__requisiciones-modal  .table__body .tbody .td.code > p {
	background-color: var(--primary-color);
	color: #fff;
	font-weight: 500;
	padding: 10px;
	border-radius: 5px;
}


.table__requisiciones-modal  .table__body .tbody .td .inputs__general {
   margin-top: 0;
}

.table__requisiciones-modal .table__body .tbody:hover {
    background-color: var(--secundary-color);
	color: var(--white-color);
}



