

.requisition-modal {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
}




.requisition-modal_container {
    padding: 5px;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}

.requisition-modal_container .row__one {
	display: flex;
	justify-content: center;
	grid-column: 1 / 2;
}

.requisition-modal_container > .row__two {
	display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
	align-items: end;
	text-align: left;
}

.requisition-modal_container > .row__two > .container__textarea_general {
    grid-column: 1 / span 4;
}




.card {
    border-radius: 10px; 
    width: 100%;
    transition: transform 0.2s;
}


.card-img-top {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 100%;
    height: auto;
}

.card-body {
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    color: #333;
}

.card-text {
    margin-bottom: 1rem;
    color: #666;
}


