.conatiner__create_modal-sub_clients {

}

.conatiner__create_modal-sub_clients > .row__one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
	align-items: end;
}


.conatiner__create_modal-sub_clients > .row__two {
    display: grid;
    grid-template-columns: repeat(4, 1fr) auto;
    gap: 10px;
	align-items: end;
}









 /*************************************************************
                    Modal de updates sucursales
 **************************************************************/
  
 .overlay__create_modal-sub_clients {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay__create_modal-sub_clients.active {
	visibility: visible;
}

.popup__create_modal-sub_clients {
	background-color: var(--background-modal);
	border-radius: 5px;
	padding: 20px;
	width: 90%;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup__create_modal-sub_clients .btn-cerrar-popup__create_modal-sub_clients {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 15px;
    top: 15px;
}



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__create_modal-sub_clients.active {	transform: scale(1); opacity: 1; }















.table__modal-sub_clients {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(2, auto) 1fr;
	overflow: auto;
}


.table__modal-sub_clients .table__head {
    display: flex;
    width: 100%;
    background-color: var( --table-color);
    border-radius: 5px 5px 0 0;
}

.table__modal-sub_clients .table__head .thead {
   display: flex;
   width: 100%;
}

.table__modal-sub_clients .table__head .thead {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 100px;
    padding: 10px;
    font-weight: 600;
    color: var(--text-table-color);
}

.table__modal-sub_clients .table__body {
	height: 100%;
    overflow: hidden;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}


.table__modal-sub_clients .tbody__container:nth-child(even) {
    background-color: var(--table-color);
  }
  
.table__modal-sub_clients .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
  }

.table__modal-sub_clients .table__body .tbody {
    display: flex;
}

.table__modal-sub_clients .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 100px;
    padding: 10px;
}

.table__modal-sub_clients .table__body .tbody .td {
    color: var(--text-color);
}


.table__modal-sub_clients .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}
