.d-block {
  display: block;
}

/* Display Classes */

.d-flex {
    display: flex;
}

.striped {
  background-color: #ececec !important; /* o el color que prefieras */
}

.form-creator {
  background-color: #f9f9f9 !important;
  padding: 1rem !important;
  border-radius: 8px !important;
  border: 1px solid #ddd !important;
  margin-bottom: 1rem !important;
}
.d-grid {
    display: grid;
}

/* Grid System Base */
.row {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 10px;

}
.col-auto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 auto; /* Ajusta el tamaño automáticamente */
}
.small-container {
  font-size: 0.7rem !important;
}

.h-full {
  height: 100%;
}

.h-auto {
  height: auto;
}

/* Flex Alignment */
.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-baseline {
    align-items: baseline;
}

.align-items-stretch {
    align-items: stretch;
}

/* Flex Justification */
.justify-content-start {
    justify-content: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.gap-0 {
    gap: 0;
  }
  
  .gap-1 {
    gap: 0.25rem; /* 4px */
  }
  
  .gap-2 {
    gap: 0.5rem; /* 8px */
  }
  
  .gap-3 {
    gap: 1rem; /* 16px */
  }
  
  .gap-4 {
    gap: 1.5rem; /* 24px */
  }
  
  .gap-5 {
    gap: 3rem; /* 48px */
  }
  
  /* Gap horizontal (column-gap) */
  .gap-x-0 {
    column-gap: 0;
  }
  
  .gap-x-1 {
    column-gap: 0.25rem;
  }
  
  .gap-x-2 {
    column-gap: 0.5rem;
  }
  
  .gap-x-3 {
    column-gap: 1rem;
  }
  
  .gap-x-4 {
    column-gap: 1.5rem;
  }
  
  .gap-x-5 {
    column-gap: 3rem;
  }
  
  /* Gap vertical (row-gap) */
  .gap-y-0 {
    row-gap: 0;
  }
  
  .gap-y-1 {
    row-gap: 0.25rem;
  }
  
  .gap-y-2 {
    row-gap: 0.5rem;
  }
  
  .gap-y-3 {
    row-gap: 1rem;
  }
  
  .gap-y-4 {
    row-gap: 1.5rem;
  }
  
  .gap-y-5 {
    row-gap: 3rem;
  }
  



.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-5 { grid-column: span 5; }
.col-6 { grid-column: span 6; }
.col-7 { grid-column: span 7; }
.col-8 { grid-column: span 8; }
.col-9 { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12 { grid-column: span 12; }

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

/* Margins */
.m-0 { margin: 0; }
.m-1 { margin: 0.25rem; }
.m-2 { margin: 0.5rem; }
.m-3 { margin: 1rem; }
.m-4 { margin: 1.5rem; }
.m-5 { margin: 3rem; }

.my-0 { margin: 0 auto; }
.my-1 { margin: 0.25rem auto; }
.my-2 { margin: 0.5rem auto; }
.my-3 { margin: 1rem auto; }
.my-4 { margin: 1.5rem auto; }
.my-5 { margin: 3rem auto; }

.mx-0 { margin: 0 0; }
.mx-1 { margin: 0 0.25rem; }
.mx-2 { margin: 0 0.5rem; }
.mx-3 { margin: 0 1rem; }
.mx-4 { margin: 0 1.5rem; }
.mx-5 { margin: 0 3rem; }


/* Margins */
.mt-0 { margin-top: 0; }
.mt-1 { margin-top: 0.25rem; }
.mt-2 { margin-top: 0.5rem; }
.mt-3 { margin-top: 1rem; }
.mt-4 { margin-top: 1.5rem; }
.mt-5 { margin-top: 3rem; }

.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: 0.25rem; }
.mb-2 { margin-bottom: 0.5rem; }
.mb-3 { margin-bottom: 1rem; }
.mb-4 { margin-bottom: 1.5rem; }
.mb-5 { margin-bottom: 3rem; }

.mr-0 { margin-right: 0; }
.mr-1 { margin-right: 0.25rem; }
.mr-2 { margin-right: 0.5rem; }
.mr-3 { margin-right: 1rem; }
.mr-4 { margin-right: 1.5rem; }
.mr-5 { margin-right: 3rem; }
/* Padding */
.p-0 { padding: 0; }
.p-1 { padding: 0.25rem; }
.p-2 { padding: 0.5rem; }
.p-3 { padding: 1rem; }
.p-4 { padding: 1.5rem; }
.p-5 { padding: 3rem; }

/* Responsive Design for Medium Screens */
@media (max-width: 768px) {

    /* Si necesitas columnas que se adapten con clases específicas en pantallas pequeñas */
    .md-col-1 { grid-column: span 1; }
    .md-col-2 { grid-column: span 2; }
    .md-col-3 { grid-column: span 3; }
    .md-col-4 { grid-column: span 4; }
    .md-col-5 { grid-column: span 5; }
    .md-col-6 { grid-column: span 6; }
    .md-col-7 { grid-column: span 7; }
    .md-col-8 { grid-column: span 8; }
    .md-col-9 { grid-column: span 9; }
    .md-col-10 { grid-column: span 10; }
    .md-col-11 { grid-column: span 11; }
    .md-col-12 { grid-column: span 12; }

    .md-mx-auto {
      margin-left: auto;
      margin-right: auto;
    }

    /* Margins */
    .md-m-0 { margin: 0; }
    .md-m-1 { margin: 0.25rem; }
    .md-m-2 { margin: 0.5rem; }
    .md-m-3 { margin: 1rem; }
    .md-m-4 { margin: 1.5rem; }
    .md-m-5 { margin: 3rem; }

    /* Padding */
    .md-p-0 { padding: 0; }
    .md-p-1 { padding: 0.25rem; }
    .md-p-2 { padding: 0.5rem; }
    .md-p-3 { padding: 1rem; }
    .md-p-4 { padding: 1.5rem; }
    .md-p-5 { padding: 3rem; }
}
.alert__price {
  position: absolute;
  top: -40px;
  right: 23px;
  padding: 5px;
  background-color: #ff5252;
  color: #fff;
  border-radius: 5px;
}
/* Responsive Design for Small Screens */
@media (max-width: 576px) {

    /* Si necesitas columnas que se adapten con clases específicas en pantallas pequeñas */
    .md-col-1 { grid-column: span 1; }
    .md-col-2 { grid-column: span 2; }
    .md-col-3 { grid-column: span 3; }
    .md-col-4 { grid-column: span 4; }
    .md-col-5 { grid-column: span 5; }
    .md-col-6 { grid-column: span 6; }
    .md-col-7 { grid-column: span 7; }
    .md-col-8 { grid-column: span 8; }
    .md-col-9 { grid-column: span 9; }
    .md-col-10 { grid-column: span 10; }
    .md-col-11 { grid-column: span 11; }
    .sm-col-12 { grid-column: span 12; }

    /* Auto margin to center the element */
    .sm-mx-auto {
    margin-left: auto;
    margin-right: auto;
    }

    /* Margins */
    .sm-m-0 { margin: 0; }
    .sm-m-1 { margin: 0.25rem; }
    .sm-m-2 { margin: 0.5rem; }
    .sm-m-3 { margin: 1rem; }
    .sm-m-4 { margin: 1.5rem; }
    .sm-m-5 { margin: 3rem; }

    /* Padding */
    .sm-p-0 { padding: 0; }
    .sm-p-1 { padding: 0.25rem; }
    .sm-p-2 { padding: 0.5rem; }
    .sm-p-3 { padding: 1rem; }
    .sm-p-4 { padding: 1.5rem; }
    .sm-p-5 { padding: 3rem; }
}

.w-full {
    width: 100%;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* max-width: 1100px; */
  margin: auto;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  color: #003366;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-col {
  flex: 1 1 30%;
  min-width: 250px;
}

.submit-button {
  margin-top: 20px;
  text-align: center;
}

.submit-button button {
  background-color: #28a745;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.submit-button button:hover {
  background-color: #218838;
}

@keyframes parpadeo {
  0%, 100% { opacity: 1; }
  50%     { opacity: 0; }
}

.parpadeo {
  animation: parpadeo 1s infinite;
}


.paginado-container {
    text-align: center;
}

.paginado-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: #5a4ae3;
    color: white;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.paginado-btn:hover:not(:disabled) {
    background-color: #4437c3;
}

.paginado-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.paginado-info {
    font-weight: bold;
    font-size: 1rem;
    padding: 0 10px;
    color: #333;
}


.breadcrumbs {
	display: flex;
	/* margin-bottom: 5px; */
}

.breadcrumbs>.breadcrumbs__container {
	padding: 2px 2px;
	/* background-color: var(--bg-300); */
	border-radius: 5px;
}
.bg-gray {
  width: 100%;
  background-color: #c7c7c7 !important;
  margin-top: 10px;
  border: none;
  outline: none;
  padding: 10px 0;
  border-radius: 3px;
  /* text-indent: 15px; */
}

.breadcrumbs>div {
	display: flex;
	align-items: center;
}

.breadcrumbs>.chevron__breadcrumbs {
	margin: 0 5px;
}

.breadcrumbs>.breadcrumbs__container>.title {
	/* margin-left: 10px; */
	color: #000000;
	font-weight: 500;
}



.help-icon-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
}

.help-module {
  position: absolute;
  top: 120%;
  left: 0;
  width: 220px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 10;
}

.help-icon-btn:hover .help-module {
  opacity: 1;
  visibility: visible;
}

.help-card {
  padding: 8px;
  margin-bottom: 6px;
  background: #f9f9f9;
  border-radius: 6px;
  font-size: 14px;
  transition: background 0.2s;
}

.help-card:hover {
  background: #eee;
}
.shadow-custom {
  padding:10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px; /* Opcional: bordes redondeados */
  background-color: #fff; /* Opcional: para contrastar con la sombra */
}


