.d-block {
  display: block;
}

/* Display Classes */

.d-flex {
    display: flex;
}




.d-grid {
    display: grid;
}

/* Grid System Base */
.row {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 10px;
}
.col-auto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 auto; /* Ajusta el tamaño automáticamente */
}
.small-container {
  font-size: 0.7rem !important;
}

.h-full {
  height: 100%;
}

.h-auto {
  height: auto;
}

/* Flex Alignment */
.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-baseline {
    align-items: baseline;
}

.align-items-stretch {
    align-items: stretch;
}

/* Flex Justification */
.justify-content-start {
    justify-content: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.gap-0 {
    gap: 0;
  }
  
  .gap-1 {
    gap: 0.25rem; /* 4px */
  }
  
  .gap-2 {
    gap: 0.5rem; /* 8px */
  }
  
  .gap-3 {
    gap: 1rem; /* 16px */
  }
  
  .gap-4 {
    gap: 1.5rem; /* 24px */
  }
  
  .gap-5 {
    gap: 3rem; /* 48px */
  }
  
  /* Gap horizontal (column-gap) */
  .gap-x-0 {
    column-gap: 0;
  }
  
  .gap-x-1 {
    column-gap: 0.25rem;
  }
  
  .gap-x-2 {
    column-gap: 0.5rem;
  }
  
  .gap-x-3 {
    column-gap: 1rem;
  }
  
  .gap-x-4 {
    column-gap: 1.5rem;
  }
  
  .gap-x-5 {
    column-gap: 3rem;
  }
  
  /* Gap vertical (row-gap) */
  .gap-y-0 {
    row-gap: 0;
  }
  
  .gap-y-1 {
    row-gap: 0.25rem;
  }
  
  .gap-y-2 {
    row-gap: 0.5rem;
  }
  
  .gap-y-3 {
    row-gap: 1rem;
  }
  
  .gap-y-4 {
    row-gap: 1.5rem;
  }
  
  .gap-y-5 {
    row-gap: 3rem;
  }
  



.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-5 { grid-column: span 5; }
.col-6 { grid-column: span 6; }
.col-7 { grid-column: span 7; }
.col-8 { grid-column: span 8; }
.col-9 { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12 { grid-column: span 12; }

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

/* Margins */
.m-0 { margin: 0; }
.m-1 { margin: 0.25rem; }
.m-2 { margin: 0.5rem; }
.m-3 { margin: 1rem; }
.m-4 { margin: 1.5rem; }
.m-5 { margin: 3rem; }

.my-0 { margin: 0 auto; }
.my-1 { margin: 0.25rem auto; }
.my-2 { margin: 0.5rem auto; }
.my-3 { margin: 1rem auto; }
.my-4 { margin: 1.5rem auto; }
.my-5 { margin: 3rem auto; }

.mx-0 { margin: 0 0; }
.mx-1 { margin: 0 0.25rem; }
.mx-2 { margin: 0 0.5rem; }
.mx-3 { margin: 0 1rem; }
.mx-4 { margin: 0 1.5rem; }
.mx-5 { margin: 0 3rem; }


/* Margins */
.mt-0 { margin-top: 0; }
.mt-1 { margin-top: 0.25rem; }
.mt-2 { margin-top: 0.5rem; }
.mt-3 { margin-top: 1rem; }
.mt-4 { margin-top: 1.5rem; }
.mt-5 { margin-top: 3rem; }

.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: 0.25rem; }
.mb-2 { margin-bottom: 0.5rem; }
.mb-3 { margin-bottom: 1rem; }
.mb-4 { margin-bottom: 1.5rem; }
.mb-5 { margin-bottom: 3rem; }

.mr-0 { margin-right: 0; }
.mr-1 { margin-right: 0.25rem; }
.mr-2 { margin-right: 0.5rem; }
.mr-3 { margin-right: 1rem; }
.mr-4 { margin-right: 1.5rem; }
.mr-5 { margin-right: 3rem; }
/* Padding */
.p-0 { padding: 0; }
.p-1 { padding: 0.25rem; }
.p-2 { padding: 0.5rem; }
.p-3 { padding: 1rem; }
.p-4 { padding: 1.5rem; }
.p-5 { padding: 3rem; }

/* Responsive Design for Medium Screens */
@media (max-width: 768px) {

    /* Si necesitas columnas que se adapten con clases específicas en pantallas pequeñas */
    .md-col-1 { grid-column: span 1; }
    .md-col-2 { grid-column: span 2; }
    .md-col-3 { grid-column: span 3; }
    .md-col-4 { grid-column: span 4; }
    .md-col-5 { grid-column: span 5; }
    .md-col-6 { grid-column: span 6; }
    .md-col-7 { grid-column: span 7; }
    .md-col-8 { grid-column: span 8; }
    .md-col-9 { grid-column: span 9; }
    .md-col-10 { grid-column: span 10; }
    .md-col-11 { grid-column: span 11; }
    .md-col-12 { grid-column: span 12; }

    .md-mx-auto {
      margin-left: auto;
      margin-right: auto;
    }

    /* Margins */
    .md-m-0 { margin: 0; }
    .md-m-1 { margin: 0.25rem; }
    .md-m-2 { margin: 0.5rem; }
    .md-m-3 { margin: 1rem; }
    .md-m-4 { margin: 1.5rem; }
    .md-m-5 { margin: 3rem; }

    /* Padding */
    .md-p-0 { padding: 0; }
    .md-p-1 { padding: 0.25rem; }
    .md-p-2 { padding: 0.5rem; }
    .md-p-3 { padding: 1rem; }
    .md-p-4 { padding: 1.5rem; }
    .md-p-5 { padding: 3rem; }
}

/* Responsive Design for Small Screens */
@media (max-width: 576px) {

    /* Si necesitas columnas que se adapten con clases específicas en pantallas pequeñas */
    .md-col-1 { grid-column: span 1; }
    .md-col-2 { grid-column: span 2; }
    .md-col-3 { grid-column: span 3; }
    .md-col-4 { grid-column: span 4; }
    .md-col-5 { grid-column: span 5; }
    .md-col-6 { grid-column: span 6; }
    .md-col-7 { grid-column: span 7; }
    .md-col-8 { grid-column: span 8; }
    .md-col-9 { grid-column: span 9; }
    .md-col-10 { grid-column: span 10; }
    .md-col-11 { grid-column: span 11; }
    .sm-col-12 { grid-column: span 12; }

    /* Auto margin to center the element */
    .sm-mx-auto {
    margin-left: auto;
    margin-right: auto;
    }

    /* Margins */
    .sm-m-0 { margin: 0; }
    .sm-m-1 { margin: 0.25rem; }
    .sm-m-2 { margin: 0.5rem; }
    .sm-m-3 { margin: 1rem; }
    .sm-m-4 { margin: 1.5rem; }
    .sm-m-5 { margin: 3rem; }

    /* Padding */
    .sm-p-0 { padding: 0; }
    .sm-p-1 { padding: 0.25rem; }
    .sm-p-2 { padding: 0.5rem; }
    .sm-p-3 { padding: 1rem; }
    .sm-p-4 { padding: 1.5rem; }
    .sm-p-5 { padding: 3rem; }
}

.w-full {
    width: 100%;
}
