.sale-order__modal_articles {
	display: grid;
	grid-template-rows: 1fr auto;
	overflow: hidden;
}

.sale-order__modal_articles > .row__one {
	overflow: auto;
	&::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {

    }
}

.sale-order__modal_articles > .row__two > .normal { 
	display: flex;
	justify-content: space-between;
	color: var(--text-color);
}


.sale-order__modal_articles > .row__two > .normal > .item { 
	display: flex;
	padding: 10px;
	border-radius: 5px;
	font-weight: 600;
}

.sale-order__modal_articles > .row__two > .normal > .item.sub-total { 
	border: 2px solid #d6ad5c;
}

.sale-order__modal_articles > .row__two > .normal > .item > .value { 
	margin-left: 10px;
}


.sale-order__modal_articles > .row__two > .normal > .discount { 
	border: 2px solid var(--orange-color);
}
.sale-order__modal_articles > .row__two > .normal > .urgency { 
	border: 2px solid #5d6bdb;
}
.sale-order__modal_articles > .row__two > .normal > .general-total { 
	border: 2px solid #5cadd6;
}

.sale-order__modal_articles > .row__two > .normal > .item > .name { 

}







.overlay__sale-order__modal_articles {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay__sale-order__modal_articles.active {
	visibility: visible;
}

.overlay__sale-order__modal_articles .header__modal {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
}

.popup__sale-order__modal_articles {
	background-color: var(--background-modal);  
	border-radius: 5px;
	padding: 40px 20px 20px 20px;
	width: 95%;
    height: 95%;
	display: grid;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
    overflow: hidden;
	

}

.popup__sale-order__modal_articles .btn-cerrar-popup__sale-order__modal_articles {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 30px;
    top: 10px;
}


/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__sale-order__modal_articles.active {	transform: scale(1); opacity: 1; }





.overlay__sale-order_production__modal_articles {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
	z-index: 10;
}

.overlay__sale-order_production__modal_articles.active {
	visibility: visible;
}

.overlay__sale-order_production__modal_articles .header__modal {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
}

.popup__sale-order_production__modal_articles {
	background-color: var(--background-modal);
	border-radius: 5px;
	padding: 40px 20px 20px 20px;
	width: 70%;
    height: 80%;
	display: grid;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
    overflow: hidden;
	
}

.popup__sale-order_production__modal_articles .btn-cerrar-popup__sale-order_production__modal_articles {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 30px;
    top: 10px;
}


/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__sale-order_production__modal_articles.active {	transform: scale(1); opacity: 1; }


.sale-order_production__modal_articles {
	color: var(--text-color);
}



.popup__sale-order__modal_articles .container_dates__requisition {
	margin-top: 0;
}

.popup__sale-order__modal_articles .title__concepts {
	padding: 10px 5px;
	background-color: #bf6903;
	border-radius: 5px;
	color: #f5f6f7;
}

.sale-order__input_container {
	display: grid;
	grid-template-columns: auto 1fr;
}

.sale-order__input_container  {
	display: grid;
	grid-template-columns: auto 1fr;
}

.sale-order__input_container .container_dates__requisition {
	margin-left: 15px;
}

.sale-order__input_container .container_dates__requisition > .date {
	text-align: center;
}

.sale-order__concepts .code  {
	padding: 5px 15px;
	border-radius: 5px;
	background-color: var(--primary-color);
}

.total__price {
	text-align: end;
}

.total__price > .price {
	font-size: 1.3rem;
	color: #bf6903;
	font-weight: 600;
}

.sale-order__concepts .discount {
	border: solid 2px var(--danger-color);
	color: var(--danger-color);
	border-radius: 5px;
	padding: 5px;
	font-weight: 700;
}


.sale-order__concepts {
	background-color: #1d212e;
	padding: 20px;
	border-radius: 10px;
	color: #f5f6f7;
}



.sale-order__concepts .right .item {
	padding: 5px;
	color: #8d54ffd8;
	font-weight: 500;
	border-radius: 5px;
	background-color: #682ce015;
}








 /*************************************************************
                    Tabla de Entradas
 **************************************************************/

 .table__sales_modal {
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    height: 100%;
    overflow: hidden;
}


.table__sales_modal .table__head {
    display: flex;
    width: 100%;
    background-color: var(--table-color);
	color: var(--text-table-color);
    border-radius: 5px 5px 0 0;
}

.table__sales_modal .table__head .thead {
   display: flex;
   width: 100%;
}

.table__sales_modal .table__head .thead {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 80px 100px  100px 100px;
    padding: 10px;
    font-weight: 600;
    column-gap: 20px;
}

.table__sales_modal .table__body {
	height: 100%;
    overflow-y: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color); 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
    /* Para modificar el background */
    }
}




.table__sales_modal .tbody__container:nth-child(even) {
    background-color: var(--table-color);
	color: var(--text-table-color);
}
  
.table__sales_modal .tbody__container:nth-child(odd) {
    background-color: var(--two-table-color);
	color: var(--text-table-color);
}



.table__sales_modal .table__body .tbody {
    display: flex;
}

.table__sales_modal .table__body .tbody.personalized {
    border: 2px solid var(--primary-color);
}

.table__sales_modal .table__body .tbody {
    display: grid;
	grid-template-columns: repeat(5, 1fr) 80px 100px  100px 100px;
    padding: 10px;
    column-gap: 20px;
}


.table__sales_modal .table__body .tbody > .td .inputs__general {
    margin-top: 0;
}


.table__sales_modal .table__body .tbody > .td .add_urgency {
    background-color: var(--orange-color);
    border-radius: 5px;
    color: #fff;
    padding: 3px 0;
    border: none;
    cursor: pointer;
}

.table__sales_modal .table__body .tbody > .td .remove_urgency {
    background-color: var(--danger-color);
    border-radius: 5px;
    color: #fff;
    padding: 3px 0;
    border: none;
    cursor: pointer;
}




.table__quotations_clients_modal .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}