.branchOffices {
    height: 90vh;
	padding: 20px;
}

.branchOffices__container {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100%;
	background-color: var(--background-sections);
	padding: 20px ;
	border-radius: 10px;
    overflow: hidden;
}

.create__bracnh-office_btn-container {
	display: flex;
	justify-content: center;
}

.conatiner__create_branch-offices {
    display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
	align-items: end;
	text-align: left;
}


.container__branch-office_btn_modal_container {
    grid-column: 1 / span 4;
	text-align: center;
}


 /*************************************************************
                    Modal de crear sucursales
 **************************************************************/


  
 .overlay__branch-offices {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay__branch-offices.active {
	visibility: visible;
}

.popup__branch-offices {
	background-color: var(--background-modal);
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	width: 80%;

	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup__branch-offices .btn-cerrar-popup__branch-offices {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 15px;
    top: 15px;
}



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__branch-offices.active {	transform: scale(1); opacity: 1; }









.table__branch-offices {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(2, auto) 1fr;
	overflow: auto;
}


.table__branch-offices .table__head {
    display: flex;
    width: 100%;
	background-color: var( --table-color);
    border-radius: 5px 5px 0 0;
}

.table__branch-offices .table__head .thead {
   display: flex;
   width: 100%;
}

.table__branch-offices .table__head .thead {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 100px;
    padding: 10px;
	color: var(--text-table-color);
    font-weight: 600;
}

.table__branch-offices .table__body {
	height: 100%;
    overflow: hidden;
    overflow: auto;
    transition-delay: 0.0s;
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #1F319D; 
        border-radius: 5px;
        height: 100px;
    }

    &::-webkit-scrollbar-track {
   
    }
}


.table__branch-offices .tbody__container:nth-child(even) {
    background-color: var(--table-color);
  }
  
  .table__branch-offices .tbody__container:nth-child(odd) {
	background-color: var(--two-table-color);
  }

  .table__branch-offices .table__body .tbody {
    display: flex;
}

.table__branch-offices .table__body .tbody {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 100px;
    padding: 10px;
}



.table__branch-offices .table__body .tbody:hover {
    background-color: var(--secundary-color);
    color: #fff;
}




  
 /*************************************************************
                    Modal de actualizar sucursales
 **************************************************************/

.overlay__update_branch-offices {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay__update_branch-offices.active {
	visibility: visible;
}

.popup__update_branch-offices {
	background-color: var(--background-modal);
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	width: 80%;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup__update_branch-offices .btn-cerrar-popup__update_branch-offices {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
    position: absolute;
    right: 15px;
    top: 15px;
}



/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__update_branch-offices.active {	transform: scale(1); opacity: 1; }




.container__change_img2 {
    display: flex;
    align-items: center;
    width: auto;
    height: 100px;
    justify-content: center;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    outline: 2px solid var(--primary-color);
    margin-top: 10px;
}

.custom-file-upload2 {
    border: none;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #fff;
}

.custom-file-upload2 input[type="file"] {
    display: none;
}


